[2017-03-01 16:42] masiddique opened #2 "Covariance models not defined"
Hi,

I installed the package in Julia (`Pkg.add("GeoStats.jl`)
Later, `using GeoStats`

And then I was running the runtests.jl, where I encountered the problem:

  Got an exception of type UndefVarError outside of a @test
  UndefVarError: GaussianCovariance not defined

It seems covmodels.jl is not automatically added with the package installation. I downloaded the file and ran it in the Julia ter

[2017-03-01 16:45] juliohm commented on #2
Hi @masiddique, the tests are passing here, perhaps you are trying to run the `runtests.jl` scripts directly in the Julia prompt?

The way we test packages in Julia is by running:

[code]

Can you please confirm the issue is solved?

[2017-03-01 17:24] masiddique commented on #2
Yes, I was running it at the prompt. Running `Pkg.test("GeoStats")` works fine, so my mistake.

However, I was wondering how to pass covariance models to `unikrig()` function since we don't have the functions to generate such models, like `GaussianCovariance()` or `SphericalCovariance()`?

[2017-03-01 17:37] juliohm commented on #2
I will document it better, thank you for your feedback. See if the example below works for you:

[code]

[2017-03-01 17:41] juliohm opened #3 "Add a "usage" section to the README.md"
Examples of usage would be great for users without background in Julia.

[2017-03-01 18:41] masiddique commented on #2
I get error:

 in include_string(::String, ::String) at loading.jl:441
 in eval(::Module, ::Any) at boot.jl:234
 in (::Atom.##65#68)() at eval.jl:40
 in withpath(::Atom.##65#68, ::Void) at utils.jl:30
 in withpath(::Function, ::Void) at eval.jl:46
 in macro expansion at eval.jl:109 [inlined]
 in (::Atom.##64#67{Dict{String,Any}})() at task.jl:60

[2017-03-01 20:58] juliohm commented on #2
Thank you for catching this @masiddique, I had it fixed in the master branch but forgot to tag a new version of the package in the Julia ecosystem. I will be sending the new version for approval today, meanwhile you can get it working in the development branch by typing:

[code]

This will download the latest (unstable) version of `GeoStats`.

[2017-03-01 21:17] masiddique commented on #2
Thank you @juliohm . The example given above works now.

[2017-03-01 21:17] #2 closed

[2017-03-02 03:54] juliohm commented on #2
@masiddique you should now be able to use the stable version again:

[code]

The fix was merged. Thank you again.

[2017-03-04 16:47] #3 closed

[2017-03-10 08:15] masiddique opened #4 "Nugget variances"
Hi

At the moment, the covariance models do not allow nugget variances. Since it is an often desired feature, I think it should be added. @juliohm : If you agree to it, please check my pull request for an example addition of nugget field in the GaussianCovariance composite type definition. Thanks.

[2017-03-10 16:12] juliohm commented on #4
Thank you @masiddique , I merged the PR https://github.com/juliohm/GeoStats.jl/pull/5, I appreciate it.

Feel free to add nugget to the other models too, I will merge them :+1:

[2017-03-10 17:07] juliohm commented on #4
I will just reorder the nugget to be the last field instead of the first and stop to think about the total sill vs. partial sill issue.

[2017-03-10 20:12] juliohm commented on #4
Fixed on the master branch, thanks again for catching this.

[2017-03-10 20:12] #4 closed

[2017-03-12 00:07] masiddique opened #6 "Unikrig(...) | Undesired behavior in different float precisions"
Hi,

Sorry I'm here to bother you again. I'm noticing some anomalous, or say, undesired behavior of the `unikrig()` function when changing the float precision for the inputs. I first noticed it when working with my project data; unfortunately I cannot share it with you due to restrictions from the data provider. However, I managed to recreate the situation by slightly modifying the example code yo

[2017-03-12 04:03] juliohm commented on #6
Hi @masiddique, this is definitely a bug, thank you very much for catching it. I will spend some time looking into it, please let me know if you have a fix in mind.

[2017-03-12 09:49] masiddique commented on #6
I have poured in some effort. The most I've figured as yet is the fact that the condition number (CN) of the matrix `Γ` (in `unikriging()`) is coming out very large (on the order of > 10) which explains the sensitivity to floating points truncation. I think we should add a flag to see whether the CN is greater than a PRESET_THRES anyway, so the user is warned; however, for an example as simple as

[2017-03-12 18:03] juliohm commented on #6
That is a very good point, also notice that the problem of Float32 vs. Float64 is manifested in all Kriging variants: simple, ordinary and universal.

For simple and ordinary Kriging the system should be better behaved given that the covariance C is used directly instead of the variogram Γ. However, by increasing the number of observations from 100 to 1000 I get the same inconsistency that you rai

[2017-03-12 18:44] juliohm opened #7 "Turn Kriging functions into Kriging objects"
Currently the Kriging system is assembled for every single estimate at a new location, which is unacceptable in terms of performance. At some point I would like to have KrigingEstimator objects that are initialized with the data configuration once and evaluated at new locations with LU factorization or similar.

[2017-03-12 21:05] #7 closed

[2017-03-12 21:16] juliohm commented on #6
Meanwhile, if you are calling the estimators inside of a loop like in a sequential simulation, you can try to restrict the neighborhood of observations and check if the error is alleviated.

I rewrote the estimators so that you can use them in a loop without building the Kriging system every time a new location is targeted. The API changed a little, you can check an example in the README.

I will

[2017-03-13 08:31] masiddique commented on #6
That's great. I'll check these out. Thanks

[2017-03-14 01:33] juliohm commented on #6
Added more tests for the Kriging estimators, all of them are passing: https://github.com/juliohm/GeoStats.jl/blob/master/test/runtests.jl

If you have other tests in mind that could rule out possibilities, please let me know.

[2017-05-05 20:53] juliohm commented on #6
I finally had a break to look into this again. The issue is now fixed in the master branch and I will tag a new release soon. It had to do with the linear solver triggered by Julia. I am now forcing a factorization explicitly (either Cholesky or LU depending on the Kriging variant).

[2017-05-05 20:53] #6 closed

[2017-06-04 00:38] juliohm opened #9 "GeoStats.jl and single precision"
Hi @visr, @masiddique,

First of all I would like to thank you for reporting bugs with Float32, these should all be fixed by now.

Could you please share how single precision is important in your work? I want to make sure GeoStats.jl functions seamlessly with any Real types.

All the estimators, with the exception of Universal Kriging, have a stable numerical solution now. I will try to replace th

[2017-06-04 09:37] visr commented on #9
Thanks for the further work on single precision Júlio. I was using this package for DTM interpolation. The values I had were single precision, hence I thought it'd be most efficient if during Kriging everything stays in single precision. Because of all the uncertainties is the DTM, some lower precision in the estimated values are not so much an issue.

I ran the tests after you added the single pr

[2017-06-04 18:14] juliohm commented on #9
Thank you @visr, you are completely correct. I have fixed the tests to be Float32 -> Float64 instead of the opposite.

Also, thank you for sharing your use case. Please let me know if similar issues appear in the future.

[2017-06-06 14:23] #9 closed

[2017-06-19 20:31] kbojanek opened #10 "GaussianVariogram() undefined"
Tests for package run successfully, but several functions appear to not be defined.

[2017-06-19 20:39] juliohm commented on #10
@kbojanek, thank you for giving the package a try. Could you please share the code that is not working for you or the functions that are undefined?

I've just double checked and everything is working for me:

[code]

[2017-06-19 20:57] kbojanek commented on #10
It must have been a problem on my end, I updated this morning and still had the issue. However after removing and reinstalling it appears to work fine.

Thank you for the great package.

[2017-06-19 20:57] #10 closed

[2017-06-19 21:32] juliohm commented on #10
Thanks for giving feedback, good luck on your work.

[2017-07-13 17:00] Balinus opened #11 "GeoStats.examples() not working"
Hello, I tried the `GeoStats.examples()` command from the REPL and got the following error:

[code]

[code]

[code]

edit - The function is perhaps not exported?

[2017-07-13 17:09] juliohm commented on #11
Hi @Balinus, thank you for reporting the issue. I am not sure why the examples are not launching in your machine. Are you using the latest version of GeoStats.jl (master branch), correct? I think so given your status output. It is working for me here.

I expect it to be called like `GeoStats.examples()`, so it shouldn't be exported.

[2017-07-13 17:34] Balinus commented on #11
It now works. I restarted Julia. Don't know why it works now as I already had GeoStats installed.

[2017-07-13 17:34] #11 closed

[2017-07-13 17:39] juliohm commented on #11
Thanks, I am glad it is working :blush: I hope these examples will be useful to demonstrate the current features of the package and also to educate people about the existence of geostatistics. Please feel free to spread the words :+1: and report any other issue that you may have.

[2017-09-06 04:02] juliohm opened #12 "Add preconditioning to Kriging system"
The Kriging system is quite ill-conditioned when data locations are too close from each other. At some point, I have to fix this by adding regularization or any other preconditioning approach.

### References:
1. https://arxiv.org/pdf/1602.00853.pdf
2. https://link.springer.com/article/10.1007/BF02065878

[2017-09-06 04:14] juliohm opened #13 "Optimize sequential Gaussian simulation"
The sequential Gaussian simulation solver is currently not type stable. There should be lots of room for performance improvements. If someone can spot the places were types are not inferred correctly, that would be super helpful. Otherwise, I will tackle this when I find time.

[2017-10-24 16:55] bask0 opened #14 "HaversineDistance raises DomainError"
GeoStats v 0.4.3
Julia v 0.6.0

DomainError is raised for certain point pairs x, y passed to HaversineDistance.

Error happens here: `GeoStats/src/distances.jl:138`
More specific: `DomainError() in sqrt at base/math.jl:425`

[code]

a gets larger than 1 in some cases, which makes √(1-a) complain

a is very close to 1 (1.0000000000000002), I think it is a rounding error.

MWE:
[code]

Some other po

[2017-10-24 17:25] juliohm commented on #14
Thank you @basilkraft for reporting the issue. Please let me know if you are aware of another equivalent formula for the distance that is less prone to floating point errors. I will try to find the time to research more about it.

As a side note, I am in the process of migrating all the distances in GeoStats.jl to Distances.jl. This means that you will be able to use any distance defined therein.

[2017-10-24 18:09] basilkraft commented on #14
Thanks for the quick reaction @juliohm

Just found this:

[Wikipedia: Great-circle_distance](https://en.wikipedia.org/wiki/Great-circle_distance)

Check the link, you will find the Vincenty formula, which is, as written there, more complicated. You will also find the spherical law of cosines, which is more simple but has a drawback:

[Wikipedia: Great-circle_distance](https://en.wikipedia.org/wiki

[2017-10-24 21:16] juliohm commented on #14
Thank you for the links, very useful information. Could you maybe share your use case so that I can have a better sense of how many users would be impacted by such change? Are you doing global estimation (and hence antipodal points)?

I am willing to implement the change you suggested, but I am just trying to assess how often it occurs in practice. I'd rather avoid introducing a branch in the code

[2017-10-25 08:40] bask0 commented on #14
Everyone who works with global gridded data (e.g. satellite data) may be affected. A regular grid - besides some exotic case - will usually contain antipodal points.

[2017-10-25 16:13] juliohm commented on #14
Thank you, I will investigate the issue a little further before patching the file. Perhaps there is a more accurate haversine implementation that we should use instead? Meanwhile, it is good to know that you can patch the code locally and proceed with your work.

[2017-10-27 05:26] #14 closed

[2017-10-27 05:28] juliohm commented on #14
Thank you again for reporting the issue @bask0, I added a line for handling floating point errors. I will do the same with the implementation in Distances.jl

[2017-10-27 05:45] juliohm opened #15 "Finalize sequential Gaussian simulation"
The implementation is almost complete. There are two items missing:

- [x] Gaussian transform (waiting for https://github.com/JuliaStats/Distributions.jl/pull/661)
- [x] Consistent interface for reporting singular Kriging matrices (waiting for Julia v0.7)

[2017-12-06 05:49] juliohm commented on #15
I implemented the type `EmpiricalDistribution` temporarily in GeoStats.jl with the hope that it will be replaced in the future by the corresponding type in Distributions.jl. I have also added the score transform necessary for converting from/to Gaussian.

As a next step, we need a good data transformation API for spatial data objects.

[2017-12-06 05:49] mingtaojia opened #17 "Missing Ellipsoidal distance"
dear sir:
    when I type such commands in Julia(Windows 7 system), there was an error prompted,
    using GeoStats
    using Distances
    d = Ellipsoildal([2., 1.],[0.])
    ERROR: UndefVarError: Ellipsoidal not defined.
    maybe I need to install another Package?
         Thanks,
         jiamingtao

[2017-12-06 06:07] juliohm commented on #17
Hi @mingtaojia, thank you for reporting the issue.

Recently I have migrated all the distances defined in GeoStats.jl to the package Distances.jl. There is a delay, however; in this final pull request for the Ellipsoidal distance: https://github.com/JuliaStats/Distances.jl/pull/81. That is my fault, I need to find time to finish it.

I will release a hot fix soon introducing the distance back agai

[2017-12-14 02:53] #17 closed

[2018-04-11 04:27] sdyinzhen opened #18 "nearestlocation method fails when AbstractSpatialData has Integer coordinates"
Julia Version 0.6.2
GeoStats 0.5.5

The **EstimationProblem(geodata, domain, :poro)**  does not work if the geodata's coordinates and domain data's coordinates do have the same data type.

[2018-04-11 04:28] juliohm commented on #18
Hi David, I think the issue you pointed out to me internally is related to the fact that your case had integer coordinates. I will rename the title of the issue and address it later when I find some time. Thanks for reporting it.

[2018-04-11 04:29] sdyinzhen opened #19 "Plotting of solutions on PointCollections"
Julia Version 0.6.2
GeoStats 0.5.5

The plot for the solutions is current only available to regular grids, while cannot be used for point collections.

[2018-04-11 04:30] juliohm commented on #19
Thanks for catching it, I will implement it in the next release.

[2018-04-11 04:43] juliohm commented on #18
Actually you are right, this is a problem caused by the fact that both objects data and domain must have the same coordinate type by design. In that case, I will just add an assertion in the `EstimationProblem` class to make sure that this is the case and to elucidate future users. :+1:

[2018-04-11 04:58] juliohm commented on #18
Fixed in https://github.com/juliohm/GeoStatsBase.jl/commit/9996ad9f5291198d391f2c074df884524de440f2

[2018-04-11 04:58] #18 closed

[2018-04-23 04:28] ziotom78 opened #20 "Error in example AnisotropicModels"
In the example `AnisotropicModels` (accessible through `GeoStats.examples()`), the following example does not work:
[code]

The error is the following:
[code]

Removing the keyword `c=z` makes the error disappear, although the plot might look different from what was intended:
[code]

Version information:
[code]

[2018-04-23 04:31] ziotom78 opened #21 "Misleading plot in documentation"
The plot shown in the [Quick Example](http://juliohm.github.io/GeoStats.jl/stable/#Quick-example-1) section of the documentation is misleading: if the user runs the code, it will not produce the same plot, as no Gaussian variogram is used. This should be explicitly stated in the documentation, or the plot changed.

[2018-04-23 05:50] juliohm commented on #20
Thank you @ziotom78 for reporting the issue. :+1:  This one is probably due to some update in the Plots.jl package. I will open an issue there to see what they say.

[2018-04-23 05:55] juliohm commented on #20
Issue opened here: https://github.com/JuliaPlots/Plots.jl/issues/1493

[2018-04-23 05:58] juliohm commented on #21
Good catch, I will update the plot and the code accordingly :+1:

[2018-04-23 07:18] juliohm commented on #20
Updated the notebook with the new syntax, replacing `c=z` with `marker_z=z`.

[2018-04-23 07:18] #20 closed

[2018-04-23 07:18] juliohm commented on #21
I've updated the plot everywhere, including docs, README.md and the paper.md file.

Thanks again for catching it.

[2018-04-23 07:18] #21 closed

[2018-04-26 14:16] Balinus opened #22 "Interpolation from (and to) irregular grid"
Hello,

I'm looking to a solution to the following problem. With climate model data, the grids are often "curvilinear" (e.g. rotated poles, lambert conformal conic , etc...). I'd like to interpolate from one grid to another. I have access to the longitude and latitude grids (i.e. 2D array for longitude "LON" and 2D array for latitude "LAT") for both the source and destination grid. Hence, the data

[2018-04-26 18:36] Balinus commented on #22
Thanks!

I'll see what I can do!

[2018-04-26 18:56] juliohm commented on #22
The spatial data interface should take a couple of minutes to implement. The last method `view` is not strictly necessary, only if you want to perform cross-validation with other estimation methods later on.

The spatial domain interface is the one where optimizations can help. You can start with a very simple implementation that does what you want and then optimize it with more time.

To define t

[2018-04-26 20:26] Balinus commented on #22
Thanks for the hints! :)

[2018-05-09 15:25] juliohm commented on #22
I was thinking about this issue yesterday, and I think the solution here would be to add two types `StructuredData` and `StructuredGrid` that are constructed based on the NetCDF convention of LAT, LON, ..., and VALUES arrays.

Since the data already comes in a grid format, I am planning to construct a lattice graph internally to look up things efficiently.

[2018-06-10 15:41] juliohm opened #23 "Brainstorming ideas for project logo"
Thank you @cormullion for your incredible work. I am excited to try ideas for the logo and learn from you.

First, let me describe some of the visual elements in our current logo to give you some background in our research field. The logo shown below is made of a "scatter" of colored points in space representing measurements of a physical property at a few locations in a map. For example, a group

[2018-06-10 22:03] cormullion commented on #23
I've jotted down a few ideas, some of these may catch your interest and can be iterated on. I'm not sure about some of them, but it's better to have something to start with...! :)

<img width="771" alt="screen shot 2018-06-10 at 22 59 04" src="https://user-images.githubusercontent.com/52289/41206797-148b48c8-6d02-11e8-8825-6c29d4e75264.png">

[2018-06-10 22:37] juliohm commented on #23
They look great, I particularly like the top left option. =) Contours are everywhere in geostatistical workflows. I am sharing more pictures of the complexity of shapes and patterns that we see in nature so that you get some more inspiration:

- The [Ganges delta](https://www.google.com/search?biw=1600&bih=807&tbm=isch&sa=1&ei=8KIdW5zrHN-x0PEPhYWR0AM&q=ganges+delta&oq=ganges+delta&gs_l=img.3..35i3

[2018-06-10 23:28] juliohm commented on #23
Australia also has some beautiful patterns from satellite:

![screenshot from 2018-06-10 16-27-05](https://user-images.githubusercontent.com/3345261/41207463-3a74fcf0-6ccb-11e8-80ad-17db656d6824.png)

Food for thought.

[2018-06-11 12:27] cormullion commented on #23
playing with a stylized color-based view of the delta, trying to keep it very simple is tricky!

<img width="342" alt="screen shot 2018-06-11 at 13 24 07" src="https://user-images.githubusercontent.com/52289/41231385-d6b0de18-6d7a-11e8-90a4-a321b2c7f3c2.png">

[2018-06-11 14:18] cormullion commented on #23
I started liking these sinuous curves with data points, but I'm heading off into Legend of Zelda territory a bit too much now ?!  :)

<img width="350" alt="screen shot 2018-06-11 at 15 17 09" src="https://user-images.githubusercontent.com/52289/41237088-97c533b0-6d8a-11e8-900b-4ea212b8fa17.png">

[2018-06-11 15:14] juliohm commented on #23
These are starting to look awesome! I like the colors of the first one, reminds Earth, terrain and water. Any way to break the symmetry? and maybe place the source of the sinusoidal curves in the top left? The image below for example represents a deltaic system again where the channels are emerging from the top left corner:

![screenshot from 2018-06-11 08-07-27](https://user-images.githubusercont

[2018-06-11 16:22] juliohm commented on #23
Had an even nicer idea, what about embedding the name GeoStats.jl inside of
a more complex pattern? For example, make the S in GeoStats.jl one of these
sinusoidal channels, extend some of the letters with more artistic shapes?
In that case I think even if we stick with black color it will look great.
If you have suggestions for colors in the name, feel free to play with them
:) I like the idea of

[2018-06-11 17:25] cormullion commented on #23
This is getting too complicated in my view... Logos can't illustrate everything that's provided, they have to concentrate on suggesting the right feelings... Sometimes you have to take things away to improve the result (“I have only made this letter longer because I have not had the time to make it shorter." - Pascal)

A good question is: does it work at 64 by 64 pixels square?

<img width="684" a

[2018-06-11 18:45] cormullion commented on #23
This is only slightly better...

Back to the drawing board later this week... :)

<img width="683" alt="screen shot 2018-06-11 at 19 44 46" src="https://user-images.githubusercontent.com/52289/41250831-f9700034-6daf-11e8-8e87-1156ab379d23.png">

[2018-06-11 18:54] juliohm commented on #23
Fully agree, I love the idea of keeping it simple. =) All of them are looking so beautiful anyways! I am sympathetic with the last idea of having the name GeoStats.jl becoming part of a more complex pattern. Something like the terrible draft I just made here:

![20180611_114531](https://user-images.githubusercontent.com/3345261/41251112-cfeff256-6d6d-11e8-989b-1a38c2b100c5.jpg)

You see how my art

[2018-06-13 12:12] cormullion commented on #23
Well, I tried make the "S" run through the image, but I didn't like the results, and the image kept on saying "TATS" to me (which definitely isn't what you want, at least in the UK)!

So I've ended up with this more restrained design, which I think is more effective at smaller sizes than the others... It could be simplified even more in other use cases.

<img width="675" alt="screen shot 2018-06-1

[2018-06-13 13:44] juliohm commented on #23
I liked it, it is elegant. The contours in the background are great. Maybe
we don't need the channel in the center on this one, or perhaps we could
maintain the channel but lower its frequency of oscillation? I like the
colors already, but if you have other color combinations that you like,
would be happy to check :)

The idea with the grids didn't look promising?

On Wed, Jun 13, 2018, 5:12 AM co

[2018-06-13 17:43] cormullion commented on #23
I use the colorschemes from [ColorSchemes.jl](http://juliagraphics.github.io/ColorSchemes.jl/latest/basics.html) to explore color combinations so it's easy to cycle through them. With over 300, there are plenty of possibilities for choosing 2. But it's always harder to make a decision than to explore alternatives... :)

![julia-geostats-10](https://user-images.githubusercontent.com/52289/41368300-

[2018-06-13 18:04] juliohm commented on #23
So beautiful! Liked the second one (first row, second column), I will add it to the documentation on the top left so that everyone can see it! :+1:  Any way that I could credit you for your work? For sure I am adding an acknowledgements section in the documentation, just wondering if you have a link or website that I could promote?

[2018-06-13 18:08] juliohm commented on #23
If you could export the various color combinations, that would be helpful to decide later. They all look great :)

[2018-06-13 21:12] juliohm commented on #23
Also, do you think that it would be interesting to have a different ratio for the logo like 4x3 instead of the square 4x4? Something that would read more horizontally with "geo" and "stats" closer together. Just wondering how it would look like.

[2018-06-14 05:01] juliohm commented on #23
If you could add the ".JL"` in the "STATS" somewhere after the ratio 4x3, it would be :ok_hand:

[2018-06-15 11:33] cormullion commented on #23
After some experiments I decided that I prefer text to be done this way.

<img width="229" alt="screen shot 2018-06-15 at 12 31 25" src="https://user-images.githubusercontent.com/52289/41465954-11c52552-7098-11e8-95d2-78ef9a6fa557.png">

I quite like this — it may be colourful, but it works well at smaller sizes...

[2018-06-15 19:38] juliohm commented on #23
I like the contours in the bottom part, very nice shapes and colors. I have yet another idea that I think would be interesting. I really like the gridded patterns you created in one of the previous iterations:

![screenshot from 2018-06-15 12-34-26](https://user-images.githubusercontent.com/3345261/41486221-8d63aeea-7098-11e8-8147-94427da9a108.png)

Do you think you could embed the name `GeoStats.

[2018-06-15 19:42] cormullion commented on #23
I'll have a look next week! :)

[2018-06-15 19:44] juliohm commented on #23
Thanks, have a great weekend! :)

[2018-06-18 08:05] cormullion commented on #23
Here's your tile effect — its quite nice, but reduces the readability/recognizability of course, at small sizes.

<img width="514" alt="screen shot 2018-06-18 at 09 00 02" src="https://user-images.githubusercontent.com/52289/41524637-16692d70-72d6-11e8-87a0-8625d3d31dcd.png">

here compared with the previous iteration:

<img width="452" alt="screen shot 2018-06-18 at 08 59 20" src="https://user-im

[2018-06-21 12:31] cormullion commented on #23
No worries. I'm mostly out of time on this one anyway. But it was fun. :)

[2018-06-21 15:47] juliohm commented on #23
Thank you @cormullion , I really appreciate your work. I will familiarize myself with the options and decide later what would be a good choice. I am impressed by your agility to create them :)

[2018-06-23 01:55] juliohm commented on #23
Thank you again for playing with the concepts, it was a lot of fun :) I am closing the issue for now.

[2018-06-23 01:55] #23 closed

[2018-10-02 17:56] juliohm commented on #22
We have `StructuredGridData` implemented already, now we only need to implement `StructuredGrid`.

[2018-11-15 05:36] tianzeliu opened #28 "Cannot display empirical variogram correctly"
When I tried to generate an empirical variogram and plot it using the same command as in the example, an error message was given:

`'c' argument looks like a single numeric RGB or RGBA sequence, which should be avoided as value-mapping will have precedence in case its length matches with 'x' & 'y'.  Please use a 2-D array with a single row if you really want to specify the same RGB or RGBA value f

[2018-11-15 12:19] juliohm commented on #28
Hi @tianzeliu , thank you for reaching out. Could you please provide a minimum example reproducing the issue?

[2018-11-15 19:30] tianzeliu commented on #28
Hi Julio,
I am sorry that I discovered what was wrong right after I opened the issue. It was actually a problem with the input format of `EmpiricalVariogram`. I thought it requires the two coordinates in two column vectors, but it actually requires two row vectors. After fixing it the figure turns out normal.
However, there is yet another issues with `@manipulate`, though I know that it is more pr

[2018-11-15 19:38] juliohm commented on #28
Thank you @tianzeliu for updating the issue. I agree the best place to ask about the errors you are having is in Interact.jl. I remember it was causing some errors for me as well in the transition to Julia 0.7. I think they should have solved all the issues by now, but please ask there for directions.

I am closing this one for now. Best.

[2018-11-15 19:38] #28 closed

[2018-11-15 20:19] #15 closed

[2018-11-16 12:54] juliohm commented on #13
I realize that performance is an overarching goal of this project and so this issue is redundant.

[2018-11-16 12:54] #13 closed

[2018-11-19 06:18] tianzeliu opened #29 "Problem with Kriging using Gaussian Variogram"
I was testing Kriging my data with different variograms and found that Gaussian variogram seems to be constantly producing problems.  When I used Matern (and also other types such as Spherical) variograms the results I got looked normal (see MaternExample.png). However, when I used Gaussian variogram, the results looked awful with patches of very extreme values (see GaussianExample.png ). The spec

[2018-11-20 14:31] juliohm commented on #29
@tianzeliu could you please provide a minimum example so that I can reproduce the exact same plot?

Thank you for reporting the issue again.

[2018-11-25 14:48] juliohm commented on #29
I am happy to say that this longstanding issue is now solved. Thank you for reporting it again, otherwise I would have delayed the investigation further.

There was a very subtle bug in the theoretical variogram expressions where the discontinuity jump at the origin was not being applied. I fixed all the variogram models accordingly as shown here: https://github.com/juliohm/Variography.jl/commit/8

[2018-11-25 14:48] #29 closed

[2018-11-25 14:48] juliohm commented on #12
Solved with nugget regularization.

[2018-11-25 14:48] #12 closed

[2018-12-03 01:39] riyadm opened #30 "Solution postprocessing"
Hi!

I was thinking it'd be useful to have a set of simple methods for solution postprocessing, e.g.

`mean(solution)`
`var(solution)`
`quantile(solution, p)`

Some of the other possibilities: mean above/below a threshold, probability (frequency) above/below a threshold.

These are simple, yet provide a nice and quick way of looking at a summary statistic of a solution. Some of these methods may b

[2018-12-03 11:09] juliohm commented on #30
That is a great idea. We can start broadening our view of a [SimulationSolution](https://github.com/juliohm/GeoStatsBase.jl/blob/master/src/solutions/simulation_solution.jl) as defined in `GeoStatsBase.jl` to be an *empirical distribution* in which geostatistical realizations are the samples. In this general sense, we could start computing summary statistics like the `mean`, `var`, and `quantile`

[2018-12-03 23:56] juliohm commented on #30
Actually, you could start adding the functions to the existing file `GeoStatsDevTools.jl/src/solutions/simulation_solution.jl`. This is a generic place in the source where we can add functionality for `SimulationSolution` objects.

[2018-12-13 18:59] juliohm opened #31 "Sequential Gaussian simulation not working"
Sequential Gaussian simulation is not reproducing the imposed variogram structure. Below is a comparison with direct Gaussian simulation:

[code]
![sgs](https://user-images.githubusercontent.com/3345261/49960791-21f74d80-fef8-11e8-9e51-0322dfdbb83c.png)

[2018-12-13 19:00] juliohm commented on #30
This is being tracked in https://github.com/juliohm/GeoStatsDevTools.jl/pull/2

[2018-12-27 12:16] juliohm commented on #31
This issue is caused by the neighborhood configuration. The code below produces correct results (master branch):

[code]
![download](https://user-images.githubusercontent.com/3345261/50479938-3b040200-09c0-11e9-9c41-36c9ccf60876.png)

I am closing the issue for now, but we need more robust methods for discarding points in the neighborhood.

[2018-12-27 12:16] #31 closed

[2019-01-01 20:35] juliohm commented on #30
Fixed on master, thanks @riyadm.

[2019-01-01 20:35] #30 closed

[2019-01-16 16:31] juliohm opened #32 "Unified way of plotting spatial objects"
Currently, spatial objects such as spatial data, solutions and statistics have their own plot recipes. This approach works fine, but is hard to maintain. I am opening this issue to discuss possible fixes.

A first proposal would be to define plot recipes for spatial data types only, and write plot recipes for other types in terms of this recipes. That is, to plot a spatial solution, we would find

[2019-01-17 22:24] riyadm commented on #32
We could maybe define methods on solutions and statistics converting those to some plottable object (like a separate wrapper?), since the data containing fields are not consistent (`realizations` in `SimulationSolution`, `mean` and `variance` in `EstimationSolution`, and `values` in `SpatialStatistic`). We could then call the recipe depending on domain. Seems like this is very similar to what you

[2019-01-18 20:09] riyadm commented on #32
We could pass data as a dictionary `Dict{Symbol,Vector}` mapping property name to vector of values. For `EstimationSolution` on `RegularGrid` we would pass `Dict(:mean => mean, :variance => var)`, while `Dict(:var1 => reals1, :var2 => reals2, :var3 =>reals3)` for `SimulationSolution`. Then we can dispatch based on domain, get plot names as `keys(data)`, and seemingly rest of the code stays same. B

[2019-01-18 21:06] juliohm commented on #32
I am starting to think about an alternative solution that is safer than dispatching all plots to a single type. It really boils down to finding a way to convert a type of the form:

[code]

To an intermediate format that makes sense to plot. We could for example define a function:

[code]

and then use this function inside of plot recipes. So the plot recipes would still vary per type giving us fl

[2019-01-19 11:20] juliohm commented on #32
Check this out. Now we can plot domain objects directly:

[code]
![screenshot from 2019-01-19 09-08-21](https://user-images.githubusercontent.com/3345261/51425931-364efa00-1bca-11e9-873c-538086ae2ad8.png)
![screenshot from 2019-01-19 09-08-32](https://user-images.githubusercontent.com/3345261/51425934-3a7b1780-1bca-11e9-976c-e7d6f6ccba3f.png)

and optionally plot data on top of them:

[code]
![scr

[2019-01-19 12:58] juliohm commented on #32
And we can now overlay spatial data types in a domain to check if the problem was setup correctly:

[code]
![screenshot from 2019-01-19 10-55-24](https://user-images.githubusercontent.com/3345261/51427001-21c62e00-1bd9-11e9-908c-880c2f083114.png)

[2019-01-20 10:07] juliohm commented on #32
Marking this one as solved :+1:

[2019-01-20 10:07] #32 closed

[2019-01-28 13:22] juliohm opened #33 "Update Cookie-Cutter solver to use new domain view API"
The current implementation is simulating the secondary variables over the entire domain and discarding the locations according to the primary variable. Now we should be able to rewrite it in terms of domain views.

[2019-01-28 13:25] juliohm opened #34 "Make spatial data objects adhere to the Tables.jl API"
The Tables.jl API is finally settling down. Now it is a good time to start adhering to the interface.

[2019-02-03 21:46] #33 closed

[2019-05-01 13:22] juliohm opened #36 "Release"
@JuliaRegistrator register()

[2019-05-01 13:22] JuliaRegistrator commented on #36
Registration pull request created: [JuliaRegistries/General/474](https://github.com/JuliaRegistries/General/pull/474)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the github

[2019-05-01 19:13] #36 closed

[2019-05-06 19:50] evetion opened #37 "Cannot `convert` an object of type Type{Union{Missing, Float64}} to an object of type DataType"
Thanks for the package!

I'm in the process of adding interpolation methods to https://github.com/evetion/GeoRasters.jl using GeoStats (GeoStatsDevTools). I hope to just provide an `interpolate(::GeoArray, ::Solver)` method.

However, I run into trouble with `Array{Union{Missing, Float64}}` support. The following code works flawlessly:

[code]

While the same code, using Missing support:
[code]
 f

[2019-05-06 22:00] juliohm commented on #37
Thank you @evetion for reporting the issue. It is always great to see people playing with missing values :+1:

I've submitted a patch release with a fix, and it was already merged. Missing values are supported, but for some reason I forgot to update the problem definitions to retrieve the underlying data types: https://github.com/juliohm/GeoStatsBase.jl/commit/2d55fec793aca737f47a976a185f1508c4973

[2019-05-06 22:00] #37 closed

[2019-05-06 22:36] juliohm commented on #37
Adding a note to my previous comment. You should be fine with the current problem setup if you are only using global Kriging. That is, you are not using the options `neighborhood`, or `maxneighbors`, etc. In global Kriging, you build the linear system once using all the raster data, and then apply the model to the new locations. If you are however using some sort of local Kriging, then the problem

[2019-05-07 09:36] evetion commented on #37
Thanks for fixing this bug so quickly!

With regards to your comments, I have two questions:
- In my understanding of the example, the domain is inside the convex hull of data. The `RegularGridData(rand(10,10))` has a bounding box from (0,0) to (10,10). In the case of center coordinates, the bounding box is (0.5, 0.5) to (9.5, 9.5). I request an estimation for (1.5, 1.5) and (2.5, 2.5).
- In your

[2019-05-07 11:42] juliohm commented on #37
Sorry for the confusion! When you typed `RegularGridData(Dict(:z=>z), (0.,0.), (1.,1.))` I was thinking about the other constructor, and interpreted `(1.,1.)` as the actual size (upper left) of the grid as opposed to spacing. Too many constructors, I always forget which is which.

Everything is correct as shown in the plot below. Please ignore the fact that there is an offset between `RegularGridD

[2019-05-08 11:21] juliohm commented on #37
@evetion I just want to make sure you are using the `CopyMapper` in this case. Notice that the `SimpleMapper` will just try to find the nearest data point to the two points you are trying to estimate and **copy** the values. So at the time of estimation, there will be no point left to estimate. If you look the example in the README of the project you will understand the difference. In that example

[2019-05-08 15:14] evetion commented on #37
Ok, after some reading the source in the different repositories, the `Mapper` is quite important and the `domain` is different from what I thought. I assumed the domain is (only) a definition of the unknowns, but it's the complete coordinate space. The `spatial data` is actually not aligned/the same with/as domain space, hence the abstraction via the (hidden) `Mapper`. I got the architecture wrong

[2019-05-08 21:07] juliohm commented on #37
You've got it right! You can also pass the list of indices you wish to copy in the `CopyMapper` constructor. The first list of indices refers to the data, and the second list of indices refers to the domain. The only requirement is that these two lists of indices have the same length.

I am actually thinking about a major rewrite of these components in the future to allow for more general spatial

[2019-05-19 21:39] juliohm commented on #22
As we were discussing on Gitter, the issue is theoretically solved. We have `StructuredGrid` and `StructuredGridData` implemented :+1:

Below are examples of `StructuredGrid`, we still need better plots for `StructuredGridData`:

[code]
![Screenshot from 2019-05-19 18-31-53](https://user-images.githubusercontent.com/3345261/57988456-1559c100-7a65-11e9-9bd6-f889196e3498.png)

[code]
![Screenshot fr

[2019-05-19 21:39] #22 closed

[2019-05-20 14:10] Balinus commented on #22
That's awesome! Thanks!

[2019-05-21 21:52] juliohm commented on #34
I am not sure the Tables.jl API is actually what we need. I will close it for now, and reopen if it shows useful in the future.

[2019-06-06 13:01] syncharny opened #38 "InexactError: Int64"
Any idea what's going on here - it seems like something about the grid is causing this error.

![Screen Shot 2019-06-06 at 6 56 47 AM](https://user-images.githubusercontent.com/22597574/59034541-74bb1d80-8828-11e9-832d-3ffe1bb3ae65.png)

[code]
I was doing a mile spacing, but nothing works

Here's the full error:

[2019-06-06 13:09] juliohm commented on #38
I'm far from my laptop at the moment, but the issue seems to be related to
the types of the arguments to the RegularGrid constructor. Can you please
double check the types of the variables in the code?

You can find the documentation of RegularGrid in Juno.

On Thu, Jun 6, 2019, 10:01 syncharny <notifications@github.com> wrote:

[2019-06-06 13:16] syncharny commented on #38
Thanks for the quick response. I am actually converting the dimensions to an int because I couldn't get it to function with all floats:

x_extent = ceil(Int,max_x - min_x)
y_extent = ceil(Int,max_y - min_y)

So the types are int, float, float. I think that jive with the examples in the docs.

[2019-06-06 13:25] juliohm commented on #38
Yes it should work. And the error occurs at the RegularGrid line or later?
Make sure the type of the coordinates is the same both in the grid and in
the geodf. I'll try to take a look later tonight if you share a minimum
code reproducing the error.

On Thu, Jun 6, 2019, 10:16 syncharny <notifications@github.com> wrote:

[2019-06-06 14:36] syncharny commented on #38
It happens when I try to solve. I'll share some code this afternoon - I wouldn't be surprised if this was a juliet issue and not a geostats issue

[2019-06-06 15:07] juliohm commented on #38
Thanks. If you share some code it will help solving the issue.

On Thu, Jun 6, 2019, 11:36 syncharny <notifications@github.com> wrote:

[2019-06-12 01:48] juliohm commented on #38
I am closing this issue assuming you have solved it.

[2019-06-12 01:48] #38 closed

[2019-07-29 11:06] juliohm opened #40 "Introduce the notion of volumetric measurements"
The Kriging-based solvers implemented so far assume that the measurements have a fixed volume. This assumption is quite strong, and we need to generalize the implementations to achieve block Kriging.

First we need to generalize the spatial object types to include volumetric information. If anyone has suggestions on efficient data structures for representing spatial domains with volumes, please fe

[2019-08-06 19:18] lboudard opened #41 "GPU implementation?"
Hi,

I'm new to julia and this package, though I was wondering is there any gpu implementation available yet?
From what I understand implementation would need specific libraries
https://juliacomputing.com/domains/gpus.html

I'm trying to apply ordinary kriging on a problem that has ~ 100.00 observations (and ~200/1000 observations in range) and was looking for best scaling implementation (besides

[2019-08-06 19:36] juliohm commented on #41
Hi @lboudard , welcome to the community!

Some solvers exploit GPUs already like ImageQuilting.jl, but there is still a lot of work to to be done in the Kriging-based solvers before adding GPU support.

What you can currently do, and is common practice with Kriging, is to use the option `maxneighbors` and `neighborhood` which trigger the local Kriging version of the solver. In this local version,

[2019-08-07 22:38] juliohm commented on #41
Closing the issue, but happy to take more questions on gitter: https://gitter.im/JuliaEarth/GeoStats.jl

[2019-08-07 22:38] #41 closed

[2019-08-10 17:03] juliohm opened #42 "Improve the treatment of missing values"
Missing values are now well-supported by the language. The project already takes missing values into account, but current implementations can certainly be improved.

- [x] Deprecate uses of the `valid` function throughout the GeoStats.jl stack, including solver packages
- [x] Deprecate the `isvalid` function and assume that the only missing value is `missing`

[2019-09-05 12:57] juliohm commented on #34
We need better integration with the API in order to leverage existing learning models.

[2019-09-05 14:31] juliohm commented on #34
Fixed in https://github.com/juliohm/GeoStatsBase.jl/commit/f3f6ce275575efa14e61ffadba3b10a4bd3a3727

[2019-09-05 14:31] #34 closed

[2019-09-29 20:24] juliohm opened #43 "Rewrite user guide in the documentation"
A complete rewrite is needed before the next minor release of the project.

[2019-10-25 21:07] juliohm commented on #43
Fixed and released.

[2019-10-25 21:07] #43 closed

[2019-10-31 19:45] lperozzi opened #44 "Normal score transform"
To transform the dataset in a Gaussian space,  we can define an empirical distribution

`d = EmpiricalDistribution(values)` and then transform to Gaussian with `transform!(values, d, Normal(0,1))`

It is possible to pass a column of a DataFrame instead of an Array  as `values`?

[2019-10-31 19:48] juliohm commented on #44
Thank you for opening the issue. It should be easy to refactor the `EmpiricalDistribution` constructor to accept any `AbstractVector`, including a `DataFrame` column. If you feel like submitting a PR, I'd be happy to review and merge. Otherwise, I will tackle the issue when time allows.

[2019-11-01 15:12] juliohm commented on #44
@lperozzi could you please share the code you tried to use? If you have a DataFrame object `df`, you can do `df.a` to access the column `a` as a vector. It is working here for me.

[2019-11-01 15:23] lperozzi commented on #44
@juliohm you're right! It works for me too. I should have made a syntax error. Sorry for that

[2019-11-01 15:26] juliohm commented on #44
No problem at all. I will close the issue for now. Let me know if something else is not working. Thanks for opening the issue.

[2019-11-01 15:26] #44 closed

[2019-11-02 22:14] juliohm opened #45 "Better support for Unitful.jl types"
Spatial data and domain types are implemented in terms of generic coordinate types. More tests are necessary to ensure that Unitful.jl types propagate correctly in algorithms.

[2019-11-03 11:46] juliohm opened #46 "Migrate Plots.jl recipes to Makie.jl recipes"
The Makie.jl ecosystem is mature enough to support plot recipes. Migrating to this new plotting ecosystem will enable high-performance 3D visualisations on the GPU.

- [x] SimpleMesh
- [x] CartesianGrid
- [x] PointSet
- [x] GeometrySet
- [x] Views
- [x] Partitions
- [x] GeoStatsBase.jl
- [x] Variography.jl

[2019-12-27 01:00] juliohm commented on #45
@Datseris as discussed quickly on Discourse, some issues like this one are quite easy to tackle. In this case, it would be nice to improve the test suite to make sure that all [domain](https://juliohm.github.io/GeoStats.jl/stable/domains) and spatial [data](https://juliohm.github.io/GeoStats.jl/stable/data) types support Unitful.jl coordinates for example. Next step, would be to make sure that the

[2020-01-06 15:05] juliohm opened #47 "Update URLs everywhere in the codebase"
Update outdated URLs due to migration to JuliaEarth organization.

[2020-01-07 14:59] #47 closed

[2020-01-07 19:16] juliohm opened #48 "Add macro versions of learning tasks"
Convenient syntax for learning tasks is missing. Below is one idea:

[code]

These macros could be easily added to the corresponding files for the learning tasks.

[2020-01-20 12:00] juliohm opened #49 "Rethink solver infrastructure as it is reaching its limits"
We are gradually moving to more complex stochastic processes, and the current solver infrastructure is not coping with the complexity planned ahead. This issue needs to be addressed in a major release after careful brainstorming.

Among other things, we need better API to express:

- co-estimation/co-simulation
- dependence relationships
- computation DAGs

[2020-02-10 21:49] PaulMatlashewski opened #52 "Simulation involving objects of different parametric dimension"
A very nice feature I would love to see is the ability to simulate variables on spatial domains that are much smaller than the domain of the input data. For example, I am often only interested in values along a fixed cross-section while my data is spread over 3 dimensions.

This works nicely with estimation problems, but I'm not sure if it is feasible for conditional simulation problems.

[2020-02-10 21:57] juliohm commented on #52
Thank you @PaulMatlashewski , can you elaborate on the issue a bit more? I understand you are interested in simulating a cross-section of a 3D volume using 3D neighbourhood information to constrain the cross-section values, correct?

[2020-02-10 22:07] PaulMatlashewski commented on #52
Yes, exactly. The image below shows what currently happens when I attempt this (this is the average of many simulations). The data values are being mapped to the cross-section grid and simulated from there.

I would want the points where the drillhole object intersects the plane to be perfectly constrained, and the data off-section to constrain the simulation based on the distance away from the se

[2020-02-10 22:14] juliohm commented on #52
That is indeed a very nice feature request, thank you. We should keep it in mind as we work on the next major release of the project. There is a lot of work to be done regarding this generalisation with multiple dimensions on the same problem definition, but it is certainly possible after we address some milestones: https://github.com/JuliaEarth/GeoStats.jl/projects

[2020-03-19 13:28] juliohm opened #53 "Remove dependency on MLJBase.jl"
After some careful considerations, I've concluded that we don't want to depend on MLJBase.jl. Some design decisions behind the MLJ.jl project are sub-optimal for our research, and we are better off switching to the more lightweight MLJModelInterface.jl. Hopefully, this lightweight interface will be replaced by a nicer trait-based interface in the future as well.

[2020-03-21 17:01] juliohm commented on #53
Fixed on master.

[2020-03-21 17:01] #53 closed

[2020-03-21 17:47] juliohm opened #54 "Refactor path types to remove dependency on spatial object"
The current implementation of paths as iterators is sub-optimal. It makes it difficult to construct parallel paths over multiple spatial objects. We should refactor the spatial path interface, and consider transducer-based implementations.

[2020-03-24 17:54] BrenoWSRCa opened #55 "Allow parallelepiped shaped blocks for spatial partition"
There would be nice to have the BlockPartitioner a generalized to allow blocks of different side sizes. It should generalize the BlockCrossValidation method as well.

[2020-04-05 17:04] juliohm commented on #48
Maybe this is overuse of macros. I will close the issue for now.

[2020-04-05 17:04] #48 closed

[2020-05-15 19:32] juliohm commented on #55
Fixed in https://github.com/JuliaEarth/GeoStatsBase.jl/commit/bd2dad9bebf944a22a9c773783db6aed14045e1b

[2020-05-15 19:32] #55 closed

[2020-05-16 18:03] juliohm opened #58 "Refactor variogram plane functionality"
Currently the variogram plane functionality lives inside a plot recipe. We need to refactor the code to create a first-class `VariogramPlane` type. This should enable additional features and facilitate maintenance.

[2020-05-18 16:12] juliohm opened #60 "Improve heuristic in empirical variogram"
The current heuristic is dispatching the full-search algorithm even with large datasets. Perhaps it makes sense to dispatch the ball-search algorithm when the number of points exceeds 10000 for example.

[2020-05-24 22:43] juliohm commented on #60
Fixed on Variography#master

[2020-05-24 22:43] #60 closed

[2020-05-29 19:18] juliohm commented on #54
Fixed on master.

[2020-05-29 19:18] #54 closed

[2020-05-30 19:38] juliohm commented on #58
Fixed on master.

[2020-05-30 19:38] #58 closed

[2020-06-03 00:13] briochemc opened #61 "origin and spacing not taken into account when plotting"
It seems that `origin` and `spacing` are not taken into account when plotting things onto grids.

(not-so-M)WE:

[code]

I was expecting the bottom plot to show the shifted origin and `(5.0,5.0)` spacing, but it does not?

<img width="1215" alt="Screen Shot 2020-06-03 at 10 16 18 am" src="https://user-images.githubusercontent.com/4486578/83581858-48dd8f80-a583-11ea-9fe4-065553f519b7.png">

[2020-06-03 00:31] briochemc opened #62 "[Help wanted] Kriging on the globe"
I have global (as in, spanning the globe) rock data that is sparse, given as 3 vecrtors (longitudes `x`, latitudes `y`, and values `z`), and I want to try to use some Kriging to interpolate/extrapolate these onto a global grid. Here is my current code:

[code]

<img width="712" alt="Screen Shot 2020-06-03 at 10 30 11 am" src="https://user-images.githubusercontent.com/4486578/83582575-39f7dc80-a585

[2020-06-03 00:33] juliohm commented on #61
I recall this wasn't possible with Plots.jl + GR.jl recipes back then, but perhaps the recipe system got updated. I am not sure. Do you think you could try fix the plot recipe here? https://github.com/JuliaEarth/GeoStatsBase.jl/blob/master/src/plotrecipes/domains/regular_grid.jl#L5-L24

Instead of returning the 2D matrix, we could return:

[code]

The actual plan is to move from Plots.jl recipes t

[2020-06-03 00:47] juliohm commented on #62
I think this is an issue with the radius you chose for the Haversine distance. The Earth radius is approximately 6371km and I think when I added the Haversine to Distances.jl they didn't accept hard-coding this constant in the code. So you should create a `Haversine(6371)` for more meaningful results:

[code]

This is what I get wit this change:

![image](https://user-images.githubusercontent.com/

[2020-06-03 00:56] juliohm commented on #62
In any case, I'd like to say that I don't have much experience with global scale interpolation. We may be hitting some numerical issue due to the Haversine or due to some other related reason with spherical coordinates. Let's first make sure that the parameters we are passing to the solver make sense. You could also try another interpolator just for debugging purposes like InverseDistanceWeighting

[2020-06-03 01:43] briochemc commented on #62
I have no experience with geostats or Kriging 😅 , so I am at a loss here as to how to proceed... I'm just looking for something that makes sense and looks nice, not for a state-of-the-art best fit that would pass strict validation of experts.

For instance, even removing entirely the Haversine distance part, I get a similar pattern. So my guess is that this has to do more with the choice of `range

[2020-06-03 01:46] juliohm commented on #62
I can investigate the issue more closely tomorrow. I think we could try passing a `neighborhood` to the Kriging solver so that it doesn't try to estimate points very far away from observations. When you pass this option, the Kriging becomes local and the predictions are made inside a moving neighborhood.

[2020-06-03 12:33] briochemc commented on #62
BTW I think I will go with the [InverseDistanceWeighting](https://github.com/JuliaEarth/InverseDistanceWeighting.jl) approach with this [PR](https://github.com/JuliaEarth/InverseDistanceWeighting.jl/pull/9) for Haversine to work 😃

[2020-06-03 13:03] juliohm commented on #62
In any case I think it would be a good idea to investigate what is happening with the Kriging solution in this case. I will leave it open for some time. Will try to review and merge the PRs by the end of the day. :)

[2020-06-03 14:40] juliohm commented on #61
Fixed on master. Thanks for catching it :100:

[2020-06-03 14:40] #61 closed

[2020-06-03 17:31] juliohm opened #64 "Document load/save of legacy GSLIB files"
Add a section to the documentation about the [GslibIO.jl](https://github.com/JuliaEarth/GslibIO.jl) package. It may help people coming from a GSLIB background to get going with the project.

[2020-06-04 01:05] briochemc commented on #62
Here is the updated result

<img width="712" alt="Screen Shot 2020-06-04 at 11 03 12 am" src="https://user-images.githubusercontent.com/4486578/83703511-2f0b7d80-a653-11ea-811a-2f0cf9514220.png">

that came from this code:

[code]

[2020-06-04 01:16] juliohm commented on #62
Inverse distance weighting usually produces these very flat maps with peaks on the data. Also, I think you should pass Earth radius to Haversine, no? A radius of `1` will compute incorrect distances on the globe.

[2020-06-04 01:21] briochemc commented on #62
Oh I see. Yes I think I would prefer a Kriging-generated map a bit more.

Oh and yes I used `1.0` because I assumed that only the *relative* distance matters? The magnitude does not really matter since the weights are normalized anyway, right?

[2020-06-04 01:26] juliohm commented on #62
Oh yeah, you are correct. The interpolated result will use normalized weights, so the actual distance value isn't important. We are also returning this "variance" map which actually uses the distances, but since you don't seem to be interested in it, shouldn't be a problem.

[2020-06-04 01:28] juliohm commented on #62
You can also try the LocallyWeightedRegression.jl solver while the Kriging one is being investigated here with Haversine. We will likely need a similar PR to handle the Haversine as you did with InverseDistanceWeighting.jl because of the KD-tree.

Locally weighted regression should produce an improved version of the map, however it doesn't pass through the observation values (regression != interpo

[2020-06-09 05:32] briochemc opened #65 "`no method matching LinearPath()` error with latest update (v0.11.7)"
With the unupdated packages like InverseDistanceWeighting.jl, [the quick example of the documentation](https://juliaearth.github.io/GeoStats.jl/stable/#Quick-example-1) throws at

[code]

I think this is because the changes in GeoStatsBase.jl are *necessary* for the latest version of KrigingEstimators.jl. So maybe the compat needs to strictly impose GeoStatsBase v0.10 instead of currently allowing

[2020-06-09 06:49] briochemc commented on #62
BTW could you help clarify for uneducated me how this all works? I can use the `distance` in both the named tuple fed to `Kriging`, or in the kwargs of the `GaussianVariogram`. (BTW Should use something else than `GaussianVariogram` anyway?) So I could do something like this, which does not make a ton of sense to me...

[code]

I would really like to get this working soon, but this is beyond my ex

[2020-06-09 10:24] juliohm commented on #65
This is my fault. I've had a misconception about the compat bounds section of the package manager. I am triggering a cycle of releases right away to fix the issue.

[2020-06-09 10:35] juliohm commented on #65
I've registered the patch releases, they should be available in a few minutes:

https://github.com/JuliaRegistries/General/pull/16080
https://github.com/JuliaRegistries/General/pull/16081
https://github.com/JuliaRegistries/General/pull/16082
https://github.com/JuliaRegistries/General/pull/16083
https://github.com/JuliaRegistries/General/pull/16084

Thanks for sharing the issue, and sorry for the n

[2020-06-09 10:35] #65 closed

[2020-06-09 10:45] juliohm commented on #62
Of course! The distance in the `Kriging` solver is about identifying neighbors and search ellipsoids. When you set the `maxneighbors` or `neighborhood` options, Kriging becomes a local method with a moving neighborhood or with k-nearest neighbors. In both cases, one needs to retrieve neighbors with some distance. The distance in the `Variogram` types is mainly about anisotropy but in your case it

[2020-06-10 00:14] briochemc commented on #65
No need to be sorry! You're more than welcome! I only noticed this because I had those packages (like InverseDistanceWeighting) in my main environment and was trying to play with the updated GeoStats.jl and I just thought you'd want to know about this 😄

[2020-06-10 00:18] briochemc commented on #62
I just wanted to let you know I've had some success using [DIVAnd.jl](https://github.com/gher-ulg/DIVAnd.jl). (DIVAnd was built more for ocean data and I don't really know what I'm doing but it seems like it works for this problem.) Anyway, my point is that the code in DIVAnd may have some answers to our questions here, too?

[2020-06-10 00:56] juliohm commented on #62
The DIVA method looks interesting. I didn't have a chance to read their paper carefully (it is on my TODO list), but from what I understood they are solving a very different system of equations compared to the Kriging system.

Tomorrow I will try to debug the LocallyWeightedRegression.jl solver a bit more before I come back to the issue we are facing here. I've revised some old papers today and am

[2020-06-19 16:01] #64 closed

[2020-07-11 14:20] juliohm commented on #62
@briochemc I've finally had a chance to look into this. There are some issues with your example code like repeated coordinates and an poor variogram model for the data. Together these issues caused those strange contours. I am in the middle of a major release process, but soon I am done with the release I will try to prepare a tutorial to illustrate the steps needed for estimation on the sphere :)

[2020-07-11 14:20] #62 closed

[2020-07-31 00:20] exepulveda opened #72 "Enable slicing for 3d estimation result"
Hi there, it could be nice to add the slicing functionality to a grid when working with 3d estimation result.

[2020-07-31 01:07] exepulveda opened #76 "KrigingSolver is indexing pdomain instead pdata for searching"
In the preprocess function, pdomain is used to index the neighbours, which conceptualy is not correct.
kriging should index pdata and search k neighbours from pdata instead with no need of masking previously estimated locations.

Currently, it is not clear to me but it seems with datamap Kriging solver is trying to map locations in pdata to pdomain and mask those mapped locations as estimated. Thi

[2020-07-31 12:25] juliohm commented on #72
What we can do here is generalize the slice operation and make it work with any spatial data:

1. We can define the `slice(d, xrange, yrange, ...)` as the filter of `d` with a new `GeometryFilter`
2. This `GeometryFilter` stores a geometry from GeometryBasics.jl (e.g. Rectangle)
3. For the case of `RegularGrid` domains, we can add a fast method with Julia's multiple dispatch

For regular grids, gi

[2020-08-01 09:38] exepulveda commented on #72
Happy to take this after we finish what is still pending.

[2020-08-02 13:17] juliohm opened #73 "Minor improvements to variograms"
We need a few minor improvements to the variogram types:

- [ ] The empirical variogram plot could have a right vertical axis for the bin counts, or alternatively, we could show the counts in the markers directly.
- [x] The theoretical variogram plot could follow the syntax of a normal Julia function, i.e. `plot(g, 0, maxlag)` as opposed to `plot(g, maxlag=maxlag)`.
- [x] The text representation o

[2020-08-06 00:08] exepulveda commented on #73
I can take this task 👍🏽
Could you give me indications where to start? I mean the key source code.

[2020-08-07 00:24] juliohm commented on #73
Of course :heart:

Let's start with the third box because it is easier to fix without any knowledge about the Julia's plotting machinery. These two methods implement the "display" behavior of empirical variograms: https://github.com/JuliaEarth/Variography.jl/blob/db5f86f63ef8b3ce4a5451474703f87f6a2ff844/src/empirical.jl#L143-L156

The first method is used as a short version when we have for exampl

[2020-08-07 00:39] juliohm commented on #73
@exepulveda BTW you can now create the branches for the PRs in the JuliaEarth/Variography.jl repo directly. No need to fork as you are part of the org already.

[2020-08-07 00:54] juliohm opened #74 "Improve plot recipe for spatial data"
Currently we plot spatial data with `plot(d, variables=[:a,:b,...])` where `:a,:b,...` are the variable names. We should simplify the command to `plot(d, (:a,:b,...))`.

Additionally, the code snippet that extracts the vector with values can be simplified: https://github.com/JuliaEarth/GeoStatsBase.jl/blob/83c515847ba6cc333a0c03c7f2e3882f1a2e7251/src/plotrecipes/data.jl#L21-L28

1. It shouldn't us

[2020-08-07 05:28] LakshyaKhatri commented on #74
Hello @juliohm, I will work on this issue as soon as I complete my current PR at plots. Unfortunately, it is taking longer than expected :(

[2020-08-07 10:11] juliohm commented on #74
Whenever you find the time @LakshyaKhatri :) I know well how Plots.jl PRs can take a while...

[2020-08-07 10:13] juliohm opened #75 "Add tests for all neighbourhood search methods"
We currently only have tests for `KBallSearcher` thanks to @exepulveda. It would be nice to have similar tests for the other neighbourhood search methods already implemented.

[2020-08-07 21:01] juliohm opened #77 "Add all contributors to README"
@all-contributors please add @visr for code

[2020-08-07 21:03] juliohm commented on #77
@all-contributors please add @evetion for infrastructure

[2020-08-07 21:07] juliohm commented on #77
@all-contributors please add @visr for code

[2020-08-07 21:08] juliohm commented on #77
@all-contributors please add @exepulveda for code

[2020-08-07 21:10] juliohm commented on #77
@all-contributors please add @fredrikekre for infrastructure

[2020-08-07 21:12] juliohm commented on #77
@all-contributors please add @dldx for code

[2020-08-07 21:14] juliohm commented on #77
@all-contributors please add @mortenpi for doc

[2020-08-07 21:16] juliohm commented on #77
@all-contributors please add @tkelman for infrastructure

[2020-08-07 21:19] juliohm commented on #77
@all-contributors please add @masiddique for question

[2020-08-07 21:24] juliohm commented on #77
@all-contributors please add @asinghvi17 for doc

[2020-08-07 21:25] juliohm commented on #77
@all-contributors please add @zdroid for doc

[2020-08-07 21:27] juliohm commented on #77
@all-contributors please add @briochemc for code

[2020-08-07 21:28] juliohm commented on #77
@all-contributors please add @exepulveda for code

[2020-08-07 21:29] juliohm commented on #77
@all-contributors please add @errearanhas for test

[2020-08-07 21:31] juliohm commented on #77
@all-contributors please add @pkofod for code

[2020-08-07 21:33] juliohm commented on #77
@all-contributors please add @xukai92 for code

[2020-08-07 21:37] juliohm commented on #77
Thank you all for your direct and indirect contributions to this project! All the names above have contributed to some sub-module of GeoStats.jl, and I would like to make your contribution explicit in the README :relaxed:

[2020-08-08 00:47] juliohm commented on #77
@all-contributors please add @PaulMatlashewski for code

[2020-08-08 13:31] juliohm commented on #77
@all-contributors please add @riyadm for code

[2020-08-08 15:51] juliohm commented on #77
@all-contributors please add @ammilten for code

[2020-08-10 02:28] exepulveda opened #97 "Kriging linear systems are by construction symmetric. We could take advantage of."
In Simple Kriging, we are doing the right thing, i.e., using the cholesky factorisation.
The same can be done for OK by using LDL' factorisation, that I understand is done by marking the A matrix with Symmetric(A).
This feature can make a little bit faster all the calculations.

[2020-08-10 02:37] exepulveda opened #96 "Implementing rotations that are used in mining applications"
In mining applications there are several different rotation systems. For example, GSLIB and Vulcan conventions. It could be great to add those rotation systems in order to correctly define the distances based on them.

[2020-08-10 06:54] LakshyaKhatri commented on #74
Hello @juliohm, I am starting to work on this repo. I think I can handle two repos at the same time! :100:

[2020-08-10 11:12] juliohm commented on #74
That is great @LakshyaKhatri , please let me know if you have any questions.

[2020-08-10 11:16] juliohm commented on #97
You are right, I think Julia needs an explicit call to `Symmetric` to take advantage of the appropriate algorithm. Thanks for raising the issue. Would you like to submit a PR? :)

[2020-08-10 17:37] juliohm commented on #96
FYI, we have existing implementations of coordinate transformations, including rotations, that we can use here if necessary: https://github.com/JuliaGeometry/CoordinateTransformations.jl

[2020-08-10 22:00] juliohm opened #98 "Leverage multiple threads in validation methods"
Validation methods such as cross-validation could leverage multiple threads via Transducers.jl. In this case, we should replace `pmap` calls (see [example](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/83c515847ba6cc333a0c03c7f2e3882f1a2e7251/src/errors/cross_validation.jl#L54-L66)) by threaded maps.

This is a good issue for first time contributors.

[2020-08-11 04:28] exepulveda commented on #96
Here is the [GSLIB angle conventions](http://geostatisticslessons.com/lessons/anglespecification).
Basically, the rotation is defined by specifying azimuth, dip and plunge. Azimuth is measured from north clockwise. We already have Euler transforms, so we could have angles transform functions to feed Ellipsoidal metric.

Do you think that we could have a dedicated subpackage for mining applications

[2020-08-11 12:03] juliohm commented on #96
I think the most general and flexible approach would be for us to introduce some transformation types in GeoStatsBase.jl based on the transformation types of CoordinatesTransformations.jl and then feed instances of these types to other parts of the framework when needed. For example, we could have a `EulerRotation` and a `TaitBryanRotation` following the terminology in `geostatisticslessons.com` M

[2020-08-11 12:42] LakshyaKhatri commented on #74
Hello @juliohm, I just looked into the issue. Seems like `GeoStats.jl` is just an abstraction. Do I have to edit everything in `GeoStatsBase.jl` if I am not wrong?

[2020-08-11 12:54] juliohm commented on #74
You are correct @LakshyaKhatri , GeoStats.jl is just an umbrella package, the actual functionality lives in submodules in separate repositories. GeoStatsBase.jl contains the plot recipes mentioned in the issue. 👍

[2020-08-12 01:19] juliohm opened #99 "Refactor variables in spatial data"
Currently, we assume that variables in spatial data are `Dict{Symbol,DataType}`. However, we need to generalize this hard-coded type to an actual `Variable` type that we can pass around in algorithms. I've started working on this.

[2020-08-12 10:42] #99 closed

[2020-08-13 05:12] exepulveda opened #100 "valid function missing in kriging solver"
I'm not sure, but it seems the function valid() is missing.
It is used in KrigingEstimators/src/solvers/kriging.jl line 231

Apparently it should be defined in GeoStatsBase/src/data.jl but is not (on master).

[2020-08-13 10:33] exepulveda commented on #40
We could introduce the concept of Support. What we have at the moment is "Point Support" or at least is assumed. One idea may be giving to the estimation domain a support feature. In case of 2D the support is a rectangle with a discretisation. For 3D is simply a box with also a discretisation. Later we can also extend this for samples, in case someone wants to make estimations of large support usi

[2020-08-13 10:47] juliohm commented on #40
We can go one step further and support general finite element meshes. We have the foundations in place, now we just need to formalize an API for accessing individual elements of the mesh (which have a full geometric description). An initial draft of this API lives in Meshes.jl: https://github.com/JuliaGeometry/Meshes.jl It is incomplete, and I am trying to fix other issues before we jump into this

[2020-08-13 10:51] juliohm commented on #100
Sorry for the noise, I've removed the `valid` function in a [recent PR](https://github.com/JuliaEarth/GeoStatsBase.jl/pull/46) as part of the [plan](https://github.com/JuliaEarth/GeoStats.jl/issues/42) to improve the support for missing values. In previous versions of Julia we didn't have first-class support for `missing` and so I had introduced this `valid` function to return the all the coordina

[2020-08-13 10:55] juliohm commented on #100
We are almost there refining this core API. These kinds of breaking changes shouldn't occur that often in the next releases :pray: It is been an interesting exercise to refine the project over time alongside the language.

I will close this issue, and we can continue the discussion in the PR :+1:

[2020-08-13 10:55] #100 closed

[2020-08-13 12:01] exepulveda commented on #100
It could be better that you can do it because you know better the changes that are required. It could take me more time to understand what you implemented in "Introduce Variable".

[2020-08-13 12:11] juliohm commented on #100
Of course, I will try to submit this change to the master branch by the end of the day.

[2020-08-14 00:40] juliohm opened #101 "Add PredicateFilter to filter spatial data"
It would be useful to have a filter algorithm that looks into the table "rows" and then applies a predicate to keep or drop the row. We can implement this in two steps:

1. Implement a `PredicateFilter` and a `filter(sdata, ::PredicateFilter)` method
2. Provide convenient syntax with `filter(pred, sdata) = filter(sdata, PredicateFilter(pred))`

[2020-08-14 02:24] juliohm commented on #74
@LakshyaKhatri I've marked all open issues related to plotting with the `visualization` label in case you are interested in addressing other issues after this one you are currently working on :)

[2020-08-15 07:48] LakshyaKhatri commented on #74
@juliohm, this might be a bit disappointing:

I won't be able to contribute since I have to prepare for the upcoming interviews. :'(
I will complete my currently opened PRs.

[2020-08-15 11:29] #74 closed

[2020-08-15 11:34] juliohm commented on #74
It is not disappointing at all. I can only acknowledge your contributions @LakshyaKhatri :heart: it is been really fun to work with you on this and other related projects. I hope everything goes well with the interviews, wishing you good luck!

Let me know if you need recommendations, I'd be happy to write something about your contributions to open source in Julia.

[2020-08-15 11:35] juliohm commented on #77
@all-contributors please add @LakshyaKhatri for code

[2020-08-15 11:41] LakshyaKhatri commented on #74
Thanks a lot for such a kind response @juliohm. Really means a lot to me :heart: :raised_hands:

[2020-08-15 17:58] juliohm commented on #42
Fixed on the master branch.s

[2020-08-15 17:58] #42 closed

[2020-08-15 19:15] juliohm commented on #72
Thanks for offering help @exepulveda , I can take care of this one as well given that I have some free time in the following weeks. Could you please review https://github.com/JuliaEarth/GeoStatsBase.jl/pull/48 which follows a similar pattern. That way you can get used to the source code organization in the project.

[2020-08-17 11:28] juliohm opened #103 "More tests for local Kriging"
@exepulveda I've noticed the current tests for local Kriging use a greedy neighborhood (ball with radius 100 on 100x100 grid). Do you think you could add more tests to stress the recent improvements to the solver?

[2020-08-17 17:53] #101 closed

[2020-08-17 23:50] exepulveda commented on #103
Sure. I think we need to test better the estimations algorithms. Maybe wait for me until I finish the work to make a compatible results with GSLIB. That would be the ultimate test :-)

[2020-08-18 00:15] juliohm commented on #76
Fixed by https://github.com/JuliaEarth/KrigingEstimators.jl/pull/16

[2020-08-18 00:15] #76 closed

[2020-08-19 10:12] #97 closed

[2020-08-19 11:19] exepulveda commented on #103
I could not reproduce results of local kriging of GSLIB.
It could be good to test with a well known dataset. For example, we could test using the dataset meuse from R package sp.

Is there any clever way to apply verbosity for debugging purposes with the current code?

[2020-08-19 11:29] juliohm commented on #103
It would be nice to reproduce the results with Global Kriging and Nearest Kriging first to make sure that these simpler variants are working as expected. I recall testing them in various cases and they produced reasonable results. The challenge with local Kriging as you know is that the estimation path becomes important, and different implementations, languages use different ordering of elements (

[2020-08-19 11:34] juliohm commented on #72
I am almost there with a first implementation of the slice function. The [GeometryFilter](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/f19d4f91cedacb11f56d6719ec60f967bbcae5ab/src/filtering/geometry.jl#L5-L34) is in place for general spatial data, and I am now adding a specialization for regular grids + rectangle geometry.

[2020-08-19 13:57] juliohm commented on #103
Here is how you can launch the debugger in VS Code: https://youtu.be/IdhnP00Y1Ks?t=1007

[2020-08-19 14:33] juliohm commented on #72
On a second thought I think we can achieve a better API by introducing a set of geometric operations as opposed to a filter. Here is the draft: https://github.com/JuliaEarth/GeoStatsBase.jl/pull/49 I will signal when it is ready for review :+1:

[2020-08-19 14:55] juliohm opened #104 "Add more primitive geometries"
Some of our current algorithms rely on operations involving primitive geometries like rectangles and spheres. We should implement some existing interface for these primitives to increase interoperability with other parts of the Julia ecosystem.

@evetion could you please advise on the current status of packages defining primitive geometries and interfaces? I know you've been working on the GeoInte

[2020-08-20 08:11] evetion commented on #104
I'd say that `GeometryBasics.jl` is the way to go, it defines concrete geometry types. See [basic_types.jl](https://github.com/JuliaGeometry/GeometryBasics.jl/blob/master/src/basic_types.jl) for more details.

`GeoInterface.jl` defined only concrete implementations first as well, but the RFC (request for comments) mainly has traits, so there can be interop/fallbacks between the various concrete im

[2020-08-20 08:19] visr commented on #104
That's right, and indeed these efforts are not limited to 2D spaces.

[2020-08-20 08:25] visr commented on #104
Not sure if you've already seen it, but I also tried to explain the situation a bit in my JuliaCon 2020 talk: https://youtu.be/wih_DIWODUs.

So in short, I would say use the primitives from GeometryBasics.jl, unless you have a strong reason not to. In that case, you could use other geometry types, and as long as they implement the new GeoInterface, there should still be easy interop with the rest

[2020-08-20 11:07] juliohm commented on #104
I like that the source code in GeoInterfaceRFC.jl is well-structured and organized, it makes a huge difference when we consider adding a dependency to a project. I am still confused reading the source code of GeometryBasics.jl though. For example, the basic_types.jl file you linked @evetion has a set of primitives but it does not contain simple primitives like rectangle, circle, these live in anot

[2020-08-20 11:12] juliohm commented on #103
@exepulveda it would be also helpful if you can share in this issue the minimum working example you are trying to reproduce in both R and Julia. That would help us spot the differences more quickly. Also, the VS Code video above explains how we can work in a debugging session together in case any of us get stuck.

[2020-08-20 11:30] visr commented on #104
I can assure you @SimonDanisch did exactly design it as a general set of primitives to be reused across the ecosystem. I'm not sure why you are concerned that the types are in two different source files though? Perhaps if you think it can be more neatly arranged you could make a pull request. Whilst working on integrating it with JuliaGeo packages we are also making some pull requests, but no fund

[2020-08-20 11:48] juliohm commented on #104
It leads to errors downstream like people updating things in one file and forgetting to the update in the other, etc. Consider for example the naming of primitives, which is a bit off with the "Hyper" prefix sometimes used, but not always used. These small inconsistencies are painful to maintain over time, and I was not sure if PRs changing these tiny details would be welcome. I can try to spot th

[2020-08-20 12:20] juliohm commented on #104
Opened an issue there: https://github.com/JuliaGeo/GeoInterfaceRFC.jl/issues/6

[2020-08-20 12:39] exepulveda commented on #103
That is exactly what I will do. The good thing is that Kriging is deterministic, therefore any implementation should give the same results.

It seems the VS Code debugger is quite slow. What is your opinion about including @debug statements into the code?

[2020-08-20 12:53] juliohm commented on #103
Try to check the "compiled mode" option in the debugger. It will avoid the slow JIT in the middle of the debugging session.

I didn't consider it so far, but we can think about it carefully in the future if the VS Code debugger remains slow.

[2020-08-22 00:21] juliohm opened #105 "Refactor PointSet internal representation"
Currently the PointSet is represented internally with a 2D matrix. Perhaps changing the internal representation to a vector of static vectors can give us an additional boost in performance in various algorithms.

[2020-08-24 00:55] yeesian commented on #104
I came across this issue from JuliaGeo/GeoInterfaceRFC.jl#6. My recommendation will be that of @visr's in https://github.com/JuliaEarth/GeoStats.jl/issues/104#issuecomment-677455643:

The primitives in GeometryBasics.jl will have much stronger support for 3D modelling than the proposed interface in GeoInterfaceRFC.jl, which is more appropriate for interoperability of GeometryBasics with drivers in

[2020-08-24 08:39] exepulveda commented on #103
To start with, I want to reproduce the results of R package gstat:
[code]
The variogram is for the log (natural) of zinc variable. The kriging system is OK. The sill 0.59 does not include the nugget effect of 0.04.

[meuse.txt](https://github.com/JuliaEarth/GeoStats.jl/files/5116678/meuse.txt)
[meuse_grid.txt](https://github.com/JuliaEarth/GeoStats.jl/files/5116679/meuse_grid.txt)

I hope I can do

[2020-08-24 09:04] evetion commented on #104
I just made a PR (https://github.com/JuliaGeo/GeoInterface.jl/pull/33) for this. Still needs some working, but we're getting there.

However, as discussed above, I hope you can use/improve `GeometryBasics.jl`, for the sake of unified geometry approach in Julia.

[2020-08-24 10:08] exepulveda commented on #103
I could locally test global kriging and I got 💯 the same results. That is very good. I will continue with local kriging and then testing against GSLIB.

[2020-08-24 11:02] exepulveda commented on #105
Are you thinking about using StaticArray.jl?

For example:
`coords::Vector{SVector{N,T}}`

[2020-08-24 11:21] juliohm commented on #105
Exactly. Given that most operations with the point set deal with "entire" points, we rarely need to slice the rows of the current 2D matrix. Most algorithms only require loop over columns. If all columns are static, we may get some additional compiler optimizations for free.

Would you like to tackle this one?

[2020-08-24 11:31] juliohm commented on #103
Nice. It would be great if we could add some of these tests that you are running locally to the test suite so that we never miss them in future changes to the codebase. :100: Also, if you can share the Julia script equivalent to the code above, we can compare the syntax to see if there is place for improvement on our side.

Next step would be to try reproduce the nearest Kriging we have by setting

[2020-08-24 11:45] exepulveda commented on #103
That is the idea. When I finish everything I will commit and PR :-)

gstat has knn as well. I dislike the "formula notational" but its could be nice for users coming from the R-side of the force.

[2020-08-24 11:46] exepulveda commented on #105
I would like take this one.

[2020-08-24 13:14] juliohm opened #108 "Fix plot recipe for StructuredGrid"
Currently the plot recipe is plotting a corner-based grid. We should update the plot to cell-centered.

[2020-08-24 14:04] juliohm opened #109 "Deprecate VariableJoiner and add hcat implementation"
The `VariableJoiner` could be replaced by a simple `hcat` method.

[2020-08-25 21:01] juliohm commented on #109
Fixed on master.

[2020-08-25 21:01] #109 closed

[2020-08-26 00:58] juliohm commented on #75
Fixed on master.

[2020-08-26 00:58] #75 closed

[2020-08-26 02:02] juliohm opened #110 "Refactor ImgQuilt solver to accept georeferenced images"
Currently the solver consumes a raw Julia array as the training image. We should refactor it to accept data over regular grids.

[2020-08-26 02:19] juliohm opened #111 "Add function to rename variables in spatial data"
It would be nice to be able to rename variables in the data table in place.

[2020-08-26 02:58] juliohm opened #112 "Performance regression in EmpiricalVariogram in Julia v1.5"
I am experiencing a 2x slowdown in the TwoPointStatistics.ipynb tutorial in Julia v1.5 + GeoStats.jl v0.15. Will investigate the causes and refactor the algorithm for type stability.

[2020-08-26 12:03] juliohm commented on #112
Fixed by https://github.com/JuliaEarth/Variography.jl/commit/31d391042a4387d3eac9fb315b07ad70240e1243

[2020-08-26 12:03] #112 closed

[2020-08-26 12:06] juliohm opened #113 "Move all Gaussian solvers to a single repository"
Currently we have a separate repository for each solver `DirectGaussianSimulation.jl` `SpectralGaussianSimulation.jl` including the `SeqGaussSim` in `KrigingEstimators.jl`. To reduce the maintenance burden, we should migrate these solvers to a single repository/package.

[2020-08-26 12:29] juliohm commented on #112
Oh nice, now I am seeing 2x speedup in Julia v1.5 compared to what we had in Julia v1.4!

[2020-08-27 14:13] juliohm commented on #108
Thinking more about this, I realized that this type of grid could be useful with a slightly different semantic I had in mind originally. For now on it will simply represent a collection of points structured as nodes of a graph as opposed to a mesh view. We need other types to represent the more general mesh with the structured property. Closing this one for now.

[2020-08-27 14:13] #108 closed

[2020-08-29 01:36] juliohm commented on #98
Fixed on master.

[2020-08-29 01:36] #98 closed

[2020-08-31 07:21] exepulveda commented on #103
I have a database (3D) to test which we can freely distribute!
This will be our case study:
3D EstimationProblem
  data:      6817 SpatialData{Float64,3}
  domain:    153076 PointSet{Float64,3}
  variables: bornite (Float64)

[2020-08-31 07:24] exepulveda commented on #105
I will benchmark this case:

[code]
The base scenario is:

[code]
Let's see how much we can reduce.

[2020-08-31 12:59] juliohm commented on #105
Nice, you can also use the BenchmarkTools.jl package to get this time more accurately `@btime solve(problem, solver)`

[2020-08-31 23:02] juliohm opened #114 "Add coerce function for spatial data"
We should be able to coerce the columns of the property table to match the desired scientific types.

[2020-08-31 23:29] exepulveda commented on #105
With the new implementation:
[code]

[2020-08-31 23:36] juliohm commented on #105
Nice, so it freed 1s approximately, and saved a considerable amount of memory allocation.

I spent the day again refactoring the codebase, I think it is almost there for the next generalization.

[2020-08-31 23:40] exepulveda commented on #105
Yes, very nice. Should I send a PR for review?

[2020-08-31 23:41] juliohm commented on #105
Please! :) I can review it tomorrow.

[2020-09-01 00:08] juliohm commented on #105
And as a side comment, we can do a similar trick in a future PR to KrigingEstimators.jl to replace the internal representation of the X matrix by a vector of static vectors. This should speed up the Kriging solver as well.

[2020-09-01 11:37] juliohm commented on #77
@all-contributors please add @nalimilan for doc

[2020-09-05 13:42] juliohm commented on #105
Fixed on master.

[2020-09-05 13:42] #105 closed

[2020-09-05 13:42] juliohm commented on #113
Fixed in new repo: https://github.com/JuliaEarth/GaussianSimulation.jl

[2020-09-05 13:42] #113 closed

[2020-09-05 18:02] juliohm opened #117 "Move basic estimation solvers to a single repository"
Currently we have separate repositories for basic estimation solvers like IDW and LWR. To reduce the maintenance burden, we should migrate these solvers to a single repository/package.

[2020-09-05 18:04] juliohm commented on #73
This issue is solved, except for the first item, which is currently not possible because Plots.jl does not support right vertical axis in plot recipes. I will close the issue for now.

[2020-09-05 18:04] #73 closed

[2020-09-07 13:36] rmcaixeta opened #118 "EmpiricalVariogram at lag 0"
Hi

I experienced an error when EmpiricalVariogram is calculated for lag = 0. It's not a common situation, it can be duplicated data problems in some cases. But also can be two half samples with different values that can be useful to estimate the nugget effect. Not sure how you prefer to handle it, but I'd include it to the first lag, something like that:

src/empirical.jl lines 192 and 240:
[code

[2020-09-07 13:43] rmcaixeta opened #119 "Average lag distance"
Hi

Another suggestion that I think that would help variogram calculations. Would you consider using as the abscissa the average of `h` inside that lag instead of fixing the mid point between lag limits? Would help specially for large bins with irregular spaced data, pointing if the variogram vlaue is closer to upper or lower lag bound. It'd be necessary to add to the search_accum functions an ext

[2020-09-07 20:54] juliohm commented on #103
@exepulveda did you have a chance to workout this test set?

[2020-09-07 23:30] exepulveda commented on #103
I'm working on it. At the end of this week I could have something to show.

[2020-09-08 02:07] exepulveda commented on #103
Preliminar results, GSLIB with not rotations and using homotopic variogram are OK.

I am using 89131 unknown locations to estimate.

GSLIB: 16s (Intel compiler)
JuliaEarth: 3s

The difference is good, but easy to explain. First GSLIB does rotation in every distance calculation, does not uses matrix factorisation and does not uses KDTree.

I'm happy with the preliminary results. Once I finish this

[2020-09-08 10:05] juliohm commented on #103
The timings are promising :+1: Though I remember I had difficulties when I tried to benchmark with GSLIB due to their monolithic codebase. Are these numbers considering IO?

Nevertheless, we should be doing well in terms of performance. Remember we are not even using multiple threads yet. I think the most important next step is to guarantee feature parity with GSLIB, including the rotations for ex

[2020-09-08 22:12] juliohm commented on #119
@rmcaixeta if you can also remove the `isnan` calls in your PR that would be great. We used to accept `NaN` as missing, but moving forward we will stick with `missing` only.

[2020-09-08 23:19] exepulveda commented on #103
JuliaEarth: 3s without writting the output. But that will be minor. GSLIB does not use mutithreads as well.
I'm in the condition to submit PR but I want to prepare something in agreement to avoid unnecessary iterations.
I'm working with a public synthetic dataset from a publisehd paper with some collegues. There are three files: (i) samples, (ii) a selection of locations to estimate with the GSLIB

[2020-09-08 23:36] juliohm commented on #103
That is a good question. I wonder if we should aim for a well documented tutorial in GeoStatsTutorials instead? Given that it is hard to reproduce GSLIB without a precompiled binary, and that maintainers may not be willing to touch Fortran in the future, I think we could figure out an example that we could run whenever we update the Kriging code considerably. What do you think?

It would be nice t

[2020-09-15 23:15] juliohm commented on #103
Hi @exepulveda what do you think of this idea? Saving the files (i) and (ii) in the test set seems fine. I think the parameter file for GSLIB could go somewhere else like a notebook in GeoStatsTutorials where we could show the results side by side with current GeoStats.jl workflow assuming GSLIB executable is available and in the PATH.

[2020-09-16 01:33] juliohm commented on #117
Fixed in GeoEstimation.jl: https://github.com/JuliaEarth/GeoEstimation.jl

[2020-09-16 01:33] #117 closed

[2020-09-16 23:43] exepulveda commented on #103
It is the idea that I suggested time ago. I will submit a PR for the test because it is good including the two files. The test will have in a comment where the data were obtained from and how the GSLIB output was generated.

I will work in a notebook to show the case, but I need to test the rotations first.

[2020-09-18 09:55] juliohm commented on #103
As I commented in that pull request, I realized that adding a test that depends so heavily on GSLIB, or any specific project for that matter, is problematic. I suggest to that we consider adding simpler smaller tests for the local Kriging method, like crafting a small grid by hand with specific measurements, and then writing down the expected results. That will be easier to maintain as a test in t

[2020-09-19 10:15] juliohm commented on #119
Fixed.

[2020-09-19 10:15] #119 closed

[2020-09-19 10:15] juliohm commented on #118
Fixed.

[2020-09-19 10:15] #118 closed

[2020-09-19 10:16] juliohm commented on #77
@all-contributors please add @rmcaixeta for code

[2020-09-21 22:50] rmcaixeta opened #121 "Using nested variograms for kriging"
Hi

I've been making some tests of my workflows using GeoStats.jl. Got an error when I called a nested variogram (SumVariogram) for kriging:

[code]

It'd be great to accept nested variograms for kriging and other solvers. Adding this line to `SumVariogram` seems to solve part of the problem (need validation yet):

[code]

This would be ok if the metric is the same for all the structures. But usin

[2020-09-21 23:02] juliohm commented on #121
That is a very good catch. I am impressed how we are not covering this use case in the tests. Do you have suggestions on how we could generalize the code to better deal with different anisotropies per structure?

It would be nice to fix this issue temporarily as you suggested with a new method for `distance` for both `SumVariogram` and `ScaledVariogram`. Would like to submit a PR? I'd be happy to

[2020-09-21 23:12] juliohm commented on #121
Actually, it is strange that the Kriging code is asking for the distance of the variogram explicitly. Do you have a MWE? In theory each structure could have its own distance field, and the `SumVariogram` will call both in the `gamma(x, y)` method.

[2020-09-21 23:17] exepulveda commented on #103
It will not depend on GSLIB. It is like bootstrapping the results. We will be using GSLIB to internally validate LocalKriging. We arleady know that works, therefore, we can freeze our results and base the tests in our results (not GSLIB involved). Do you follow the idea?

[2020-09-21 23:43] rmcaixeta commented on #121
I'll copy here the example tomorrow, my machine is already off. But it was a simple Walker Lake 2d case with 2 structures and local neighborhood. I'll submit a PR in the weekend if that's the case for the simple fix.

I'll think about how to deal with the anisotropy, still getting familiar with the project structure. My goal is to have solvers able to use non stationary covariances and other local

[2020-09-21 23:47] juliohm commented on #103
It makes sense to some extent, and I understand your viewpoint. But I am trying to say it is hard to decouple the expected theoretical result that we want to test from the side effects of an implementation detail. For simplicity, assume that we are writing a test for conditional Gaussian simulation, and that our implementation adopts a column-major order to visit the grid cells. Assume that some o

[2020-09-21 23:55] juliohm commented on #121
Awesome. I think the geometric anisotropy we currently have with this `distance` field may be useful already for the general case with multiple structures, but we can double check with your MWE. We can also brainstorm other ways to represent this anisotropy in the project to allow for more advanced workflows.

[2020-09-22 00:26] exepulveda commented on #103
The example given does not help. Kriging is deterministic and the proposed test is not using a grid. I understand you point, but also beware that good tests do not only test simple calculations. I leave this to you. I will be focus on the notebook.

Regards

[2020-09-22 00:39] juliohm commented on #103
Thanks, I will take care of it when I find some time.

[2020-09-22 14:59] rmcaixeta commented on #121
Great. Here a MWE using GeoStatsImages data:

[code]

[2020-09-22 22:40] juliohm commented on #121
Fixed in https://github.com/JuliaEarth/Variography.jl/commit/8107450b18a95d3777d71fcb877c72e4aa019cb6

For future reference, the second argument of the `EstimationProblem` should be `domain(D)` in your MWE. You may have issues downstream otherwise.

Thanks again for reporting the issue. A new release is being triggered with the fix.

[2020-09-22 22:40] #121 closed

[2020-09-22 22:41] juliohm commented on #121
Also please share if you feel that the current design is limiting your workflow. Happy to brainstorm improvements.

[2020-09-23 14:59] rmcaixeta commented on #121
Great, thanks @juliohm
I like the current design so far, seems very flexible

Just to confirm. With that fix, it should be allowed to use different distance metric/anisotropy in nested structures, right?

[2020-09-23 15:36] juliohm commented on #121
Yes, that is correct. You should be able to use different distance, one for each structure.

[2020-09-24 01:44] juliohm commented on #110
Fixed in ImageQuilting.jl master.

[2020-09-24 01:44] #110 closed

[2020-09-24 22:10] juliohm commented on #103
Given that tests are always important to have for any part of the project at any time, I will close this specific issue for now since no one is looking into it currently.

[2020-09-24 22:10] #103 closed

[2020-09-25 04:39] exepulveda opened #122 "Notebook with comparison of GeoStats and GSLIB"
I'm opening this issue to document and discuss the notebook about comparing GeoStats and GSLIB that I'm current working on.

My idea is to do at least:

1. Isotopic case first.
2. Anisotropic case to test GSLIB's rotation system
3. Compare results and execution times

I will need to show some sections of a 3D grid, to illustrate in 2D the results.

[2020-09-25 11:38] juliohm commented on #122
Nice. We can do slices of the 3D grid with the new `slice` function and that will still be a 3D object. To project it to a 2D grid, we could do something like the following for now:

[code]

Later we can think if it is necessary to add some helper functions to facilitate axis-aligned projections.

[2020-09-27 10:28] rmcaixeta commented on #96
I think that a flexible way to deal with that would be adding an extra kwarg to Ellipsoidal function to inform the rotation axis order (currently fixed to Z,X,Y). Then would be possible to match more easily to any rotation convention and build "recipes" (where clockwise/counterclockwise specific rules can be handled). With that one we can get to GSLIB this way, for example:

[code]

But for other

[2020-09-27 12:09] juliohm commented on #96
That would be lovely @rmcaixeta . So the idea is to add a `order` kwarg or similar to the `Ellipsoidal` constructor that would store a given convention like `order=(:z,:x,:y)` or maybe `order=:Euler` and then construct the appropriate rotation matrix internally. Is that correct? I think this a very reasonable solution while we brainstorm a more flexible set of tools for rotations in the project. :

[2020-09-27 12:37] rmcaixeta commented on #96
Correct. That way we can match any convention

[2020-09-27 13:04] juliohm commented on #96
Thanks for proposing the changes. Please feel free to draft a PR and we can continue the discussion over there. Also we could take this opportunity to convert the matrix inside Ellispsoidal to a static matrix `SMatrix`. That will certainly speed things up.

[2020-09-28 18:32] juliohm commented on #77
@all-contributors please add ElOceanografo for infrastructure

[2020-09-29 07:31] exepulveda commented on #96
I like the idea and it is what I'm current working on.

Apparently the correct rotation to account for the reduction of the distances in the axis should be:

[code]

[2020-09-29 09:59] rmcaixeta commented on #96
Hi @exepulveda

Thanks. I did not validate fully that GSLIB function, just for 1-2 GSLIB vmodel cases. Also depends on what's the range you're using in the variogram function (max, min, vert, 1.0 etc)

I started doing that, but did not validate any of the results yet:
https://github.com/rmcaixeta/GeoStatsBase.jl/commit/5d4410fda7781cebb0884e7f6a09a6b71deb067e

It would work like that below:

[code

[2020-10-03 13:40] evetion opened #124 "Heavy dependencies for "Base" package lead to long compile times"
Over at evetion/GeoArrays.jl, which uses this package, I'm hitting long compile times (1min 43s), of which `GeoStatsBase` takes at least a minute.

I would assume this is a base package, to include the correct signatures, and the heavy lifting to be done in other packages. Would this assumption be correct and are the many dependencies necessary? Not sure if this is fixable, otherwise it's just for

[2020-10-03 14:12] evetion commented on #124
That would be a BaseBase package, very meta :metal:. I understand you don't want a thousand different implementation packages (anymore). Not sure what the correct name would be. GeoStatsCommon? GeoStatsInterface? Or try to move out all the implementation stuff, but I don't have the overview to tell what should be in Base and what not.

What I'm using is very short and all in here: https://github.c

[2020-10-03 14:19] juliohm commented on #124
We could either migrate the implementations to some GeoStatsUtils.jl package or migrate the interface to some GeoStatsInterface.jl package. I agree with you we need to refactor this in order to avoid long compile times in downstream packages. I wish package precompilation was a thing already :sob: Looking forward to next releases of the language.

[2020-10-05 11:54] juliohm commented on #124
@evetion so based on your use case, I think we can improve the current situation in a couple steps.

- First, we need to double check that we still need `CopyMapper`. @exepulveda recently fixed an issue in the Kriging solver, which may free us from using the CopyMapper explicitly.
- Second, we need to migrate the implementations to a new package, I am thinking about GeoStatsLib.jl as the name.
- T

[2020-10-06 03:47] exepulveda commented on #96
I like the syntax. Simple and easy to read and understand. I have done some tests with Ellipsoidal, and I could not find any equivalence. In the meantime I'm working with a costumed distance using the same GSLIB source code.

[2020-10-12 00:33] exepulveda opened #125 "Turning Bands simulation."
Hi all, part of my research now needs to run parallel simulations and one good choice is turning band (TB) method. Fortunately, I have Fortran code working and now I want to port this to JuliaEarth. Fortran code is very procedural and do-loop multi-dimensional arrays oriented. I am opening this issue for discussion in how to properly migrate the code that is GeoStats "compatible".

The first quest

[2020-10-12 00:58] exepulveda commented on #125
I saw that you can have:
`vmodel = Spherical(nugget=0.2, sill=0.5, range=5.0) + Spherical(nugget=0.1, sill=1.0, range=70.0)`

I just wonder for the example above what is the total sill. I guess it should be 1.5 and the total nugget effect 0.3. Therefore each nested structure are:
Nugget: 0.3
Sill for the first spherical: 0.3
Sill for the second spherical: 0.9

Am I right?

[2020-10-12 01:22] juliohm commented on #125
That's awesome @exepulveda. Looking forward to working out the details together. :100:

The `lines` parameter makes sense to me. Is your question about the naming or about how to create such parameter within GeoStats.jl? I would call the solver `TurningBands` without the `Sim` suffix. The creation of solvers is documented here: https://juliaearth.github.io/GeoStats.jl/stable/contributing/solvers

[2020-10-12 01:25] juliohm commented on #125
You can query the exact value of nugget and sill of an additive model using the API in case you still have questions:

[code]

[2020-10-12 01:37] exepulveda commented on #125
The code I have in Fortran is the translation I did from the Matlab code of my colleague Xavier Emery' works:
Emery, X., & Lantuéjoul, C. (2006). TBSIM: A computer program for conditional simulation of three-dimensional Gaussian random fields via the turning bands method. Computers and Geosciences, 32(10), 1615–1628. https://doi.org/10.1016/j.cageo.2006.03.001

[2020-10-12 01:39] juliohm opened #126 "Improve show methods of additive variogram models"
Currently, the display of additive variogram models is not very readable:

[code]

We should implement show methods for `SumVariogram` and `ScaledVariogram`.

This issue is good for a first time contributor =)

[2020-10-12 01:41] exepulveda commented on #125
We may want to make available something like:
γ = NuggetEffect(0.2) + Spherical(sill=0.5, range=10.0) + Spherical(sill=0.8, range=70.0)

So SumVariogram may extend to manage an arbitrary number of nested structures. If that makes sense I can draft a PR to do so.

[2020-10-12 01:45] juliohm commented on #125
That would be nice. We can simply add a `NuggetEffect <: Variogram` as another subtype of `Variogram`, and the rest of the behavior should follow automatically with sums and scalings. I will be happy to review the PR.

[2020-10-12 21:25] rmcaixeta commented on #125
Nice one. It'll be great to have a good and fast opensource TBS!

[2020-10-12 23:36] exepulveda commented on #125
Do you think that this enough?
[code]

[2020-10-12 23:37] exepulveda commented on #125
Quick question: why float constant are 0. and not 0.0?

[2020-10-12 23:59] juliohm commented on #125
That would be a good `NuggetEffect`, but we also need to specialize `sill(g::NuggetEffect) = g.nugget`, and `range(::NuggetEffect) = 0` so that it can be used anywhere like the other variogram models.

Regarding the `0.`, I think we could just write `0.0` or `zero(T)`. Same for the `1.`, we could just write `1.0` or `one(T)`. I had no particular reason to leave the 0 out of the literal. Feel free

[2020-10-13 01:45] exepulveda commented on #125
This version is almost OK
[code]
Few problems:
In the tests I have:```

γ = NuggetEffect(0.2)
γ₁ = γ + GaussianVariogram(nugget=0.1, sill=0.8, range=50.0)
@test nugget(γ₁) = 0.3
[code]
Also because `NuggetEffect` does not have sill and range attributes, the fit function does not work. One easy but bad solution could be to include those attributes and not use them. Final solution should be modify t

[2020-10-13 10:23] juliohm commented on #125
I think you fixed the approximate comparison in https://github.com/JuliaEarth/Variography.jl/pull/31 already. Regarding the lack of sill and range attributes in the fit function, I think we should deal with this issue separately. We need to work on the fit function to generalize it to additive models and models with pure nugget. Can we do that in a separate PR? Thanks.

[2020-10-13 11:00] exepulveda commented on #125
I see two options:

1. To keep those unnecessary attributes (sill and range) to let the test suite to pass and after the fitting is fixed, we can remove them.
1. Remove them now but the test suite will fail.

I'm more inclined for the first option.

[2020-10-13 11:46] juliohm commented on #125
Tests are failing because you've added the nugget effect to test sets that aren't supposed to work currently. Fitting variograms is a different issue. Let's do things one step at a time. Can you please update the PR to remove the nugget effect from the fitting tests?

[2020-10-13 11:58] juliohm commented on #125
Also keep in mind that this discussion we are having here about nugget effects is going to be lost after we close the issue, which is about Turning Bands. Let's try to organize our discussions carefully so that their record is available to future contributors.

The same holds for PRs. We need to define a scope for issues and PRs otherwise we won't be able to find the design decisions that were mad

[2020-10-14 23:33] exepulveda opened #127 "An improved implementation of Nested Variograms"
I'm raising this issue for discussion on Nested Variogram.

The motivation is for having a better design of variograms that helps us to incorporate turning bands (co-) simulations and to implement a linear model of coregionalization (LMC)

Currently we have unary structures that have a property `nugget`, although nugget effect is a valid structure. We already have a PR for [Nugget effect] (https:/

[2020-10-15 00:05] juliohm commented on #127
Thanks for raising this issue. I like the idea of providing better support for LMC. Currently, we can combine the different variograms with scalars and sums, but perhaps we need to introduce an algebraic structure with array coefficients, similar to what you suggested.

We can currently write this code just fine, but I think you meant to say that it is hard to extract the coefficients with an API?

[2020-10-15 00:23] exepulveda commented on #127
My point is that `g = C_0*Nugget() + C_1*Structure_1(range=r_1) + ... + C_n*Structure_n(range=r_n)` is very clear from user and conceptual perspectives. C_i can be a scalar for the univariate case, or a matrix for multivariate case. The internal implementation should take care of a good design and backward compatibility.

Indeed it is straightforward to translate from a combined SumVariogram or/an

[2020-10-15 00:28] juliohm commented on #127
I like the design pretty much. Let's just think about it more carefully before implementing the changes. Regarding the possibility of specifying the `sill` inside each structure, I think we should keep it and assume that users will know what they are doing. Our code can also do the write thing always and internally convert a `0.5*ExponentialVariogram(sill=2)` to a `1.0*ExponentialVariogram()`. We

[2020-10-15 11:05] rmcaixeta commented on #127
I really like that structure. I'm drafting an extra solver that changes variograms locally and with that struct would be much more easy and intuitive to iterate over the structures

Nice. Considering all the kwargs, this would be a good solution to organize the final variogram. Do you think the nugget could be adjusted too?  `0.8*SphericalVariogram(nugget=0.5,range=10.0) = 0.4*NuggetEffect() + 0.4

[2020-10-15 11:26] juliohm commented on #127
I also thought about the `sill` and `nugget` options some time ago, and realized that most users (which do not have a geostatistics background) will pick a single structure and adjust the options with a fitting method. So it is convenient to just write `GaussianVariogram(sill=2.5, range=1.6, nugget=0.1)` as opposed to `NuggetEffect(0.1) + 2.5*GaussianVariogram(range=1.6)`. Perhaps we change minds

[2020-10-15 11:30] juliohm commented on #127
Regarding the canonical form transformation, it should take the nugget into account as well:

[code]

We need to wait for [this issue](https://github.com/mauro3/Parameters.jl/issues/128) to be fixed in order to implement it with the Parameters.jl approach.

[2020-10-15 22:58] exepulveda commented on #127
I will create a branch for this and we can sketch possible solutions. The idea is to define this new NestedVariogram and implement the transformation from the structs we have with the canonical form. Users are free to use both approaches.
When we are happy with the design we can think in merging. What do you think?

[2020-10-15 23:57] juliohm commented on #127
Thanks @exepulveda for taking the lead on this. Please consider drafting the changes in steps. I suggest to first prepare a PR for the NestedVariogram that replaces both SumVariogram and ScaledVariogram. This PR would also refactor the `+` and `*` to return the NestedVariogram instead of the former types.

It would be a good idea to use tuples for the fields of the NestedVariogram:

[code]

but if

[2020-10-16 00:44] exepulveda commented on #127
I think it is a good strategy. Let me draft something. This time it could be good if @juliohm and @rmcaixeta can be involved in this PR and not just reviewers.

[2020-10-18 20:05] rmcaixeta opened #128 "Extend cross-validations to EstimationProblems"
Opening this issue to extend cross validation methods for `EstimationProblem`

Looking quickly at the code, seems that they're currently restricted to `LearningProblem`. And it's apparently easy to extend them to `EstimationProblem`.

Or is there already some way to call an `EstimationProblem` as a `LearningProblem`?

[2020-10-18 20:14] juliohm commented on #128
We used to have CV for estimation problems, but it got removed in the middle a major refactoring of the codebase. Please feel free to submit a PR, and we can review it together.

[2020-10-20 23:12] exepulveda commented on #127
I just pushed to the branch "canonical_variograms". Please, have a look and any comment, improvement is welcome. Note this is a draft only :-)

[2020-10-20 23:20] juliohm commented on #127
Thank you. Please create a PR so that we can review the code as we go.

On Tue, Oct 20, 2020, 21:12 exepulveda <notifications@github.com> wrote:

[2020-10-20 23:51] exepulveda commented on #127
My original idea is to first check the draft to see if we agree. Also, anyone can contribute to the changes. Let's do the PR when the code is ready.

[2020-10-20 23:57] juliohm commented on #127
When you create the PR nothing changes about the branch. That is the idea.
You can keep working on the branch and the PR will highlight the
differences and will allow us to comment on specific parts. Makes sense?

On Tue, Oct 20, 2020, 21:52 exepulveda <notifications@github.com> wrote:

[2020-10-21 00:41] exepulveda commented on #127
Let's do it.

[2020-10-23 20:07] #127 closed

[2020-10-23 20:09] juliohm commented on #126
Fixed on master.

[2020-10-23 20:09] #126 closed

[2020-10-24 15:12] juliohm opened #131 "Add assertions in problem constructors"
It would be a good idea to add assertions in the EstimationProblem, LearningProblem and SimulationProblem constructors to avoid situations where users try to instantiate a problem with incorrect argument types.

[2020-10-24 15:15] juliohm opened #132 "Refactor CV methods"
CrossValidation, BlockCrossValidation and LeaveBallOut only differ by the way they construct folds. We should refactor the code to a single implementation to avoid code repetition.

[2020-10-27 11:06] NitishGadangi opened #133 "Migrate Tutorials to Pluto.jl"
**Description:**
Rewrite the current tutorials (which were written in Jupyter Notebook) in [Pluto.jl](https://github.com/fonsp/Pluto.jl)

**Deliverables:**
- [x] Estimation problems
- [x] Variogram modeling
- [x] Anisotropic models
- [x] Directional variograms
- [x] Declustered statistics
- [x] Two-point statistics
- [x] Gaussian processes
- [x] Image quilting
- [x] Parallel simulation
- [x] Cooki

[2020-10-28 23:23] exepulveda commented on #122
What is the best way to reshape an estimation results as the grid (10,10,10)?
[code]
but I want it back to (10, 10, 10), Is it just doing reshape(solution[:grade], 10, 10, 10)? Also I guess the ordering is column based, therefore x varies first, then y and finally z. Am I right?

[2020-10-29 01:21] juliohm commented on #122
The reshape should work, we are adopting the Julia column-major order everywhere. The solution of an estimation problem currently contains two vectors for each variable: the mean and the variance vectors.

We will refactor this in the future: https://github.com/JuliaEarth/GeoStats.jl/issues/49

[2020-11-06 11:52] juliohm commented on #133
Great to finally have the notebooks running on Pluto! They look much nicer now!

[2020-11-06 11:52] #133 closed

[2020-11-08 12:30] juliohm commented on #77
@all-contributors please add @NitishGadangi for doc and infrastructure

[2020-11-08 19:30] juliohm commented on #122
@exepulveda how is the notebook so far? It would be nice to convert to Pluto when it is ready.

[2020-11-08 22:43] exepulveda commented on #122
I have not had time to complete it due to deliveries at work. I hope to have time this and next week. I will do it Pluto-ready, definitively.

[2020-11-09 06:01] exepulveda commented on #96
Hi guys! I have been testing the new rotation function aniso2distance and I could not reproduce the GSLIB rotation matrix so far.
This is the code translated from GSLIB Fortran code to Julia (and properly tested):

[code]
The simplest test is no rotation nor anisotropy:

[code]
The equivalent call to
[code]

which is not the right rotation. GSLIB convention uses X axis as the east direction.

If y

[2020-11-09 10:33] rmcaixeta commented on #96
Hi @exepulveda
I'll test your example later today to understand what's going on
The validations I made was using GSLIB vmodel vs GeoStats.jl anisotropic variogram, they were matching perfectly

[2020-11-09 20:56] rmcaixeta commented on #96
Just to confirm, I ran again the tests and the anisotropic variograms with `aniso2distance` do match the GSLIB vmodel using a series of different angles and ranges
The issue is that the `qmat` for Mahalanobis is `P'*Λ*P` and what you're seeking is `sqrt.(Λ)*P` (https://github.com/JuliaEarth/GeoStatsBase.jl/blob/master/src/distances.jl)

Another difference is the way I built the rotation matrix for

[2020-11-09 21:36] exepulveda commented on #96
Quite interesting. I just wonder if Mahalanobis distance, which only stores the Q (qmat) matrix is capable of reproducing the right rotation. Somehow using Q matrix should be enough.

[2020-11-09 21:42] exepulveda commented on #96
Another point is that given an azimuth of 30 degrees, it seems the Q matrix is still the Identity, which is correct as there is not differences in the distances when you use rotation if you don't use anisotropy. I think that is the error with my comparison. I need to test with anisotropy and rotation.

[2020-11-09 22:18] rmcaixeta commented on #96
Yeah, maybe there's some way depending on whats the purpose. If you need only anisotropic distances, it will help. But I guess that for explicit coordinate transformations and rotations the original rotation matrix will be necessary in the end

[2020-11-09 22:33] exepulveda commented on #96
Your are 100% right. They are equivalent. See this test:

[code]

Rotations and anisotropy at random. All results OK.

The only missing point is getting a *valid* rotation matrix to be used in the KDTree for example. With this test I can also say that this functionality is correct. Great!!

Thanks for making this nice API.

[2020-11-10 00:35] juliohm commented on #96
Thank you all for double checking the rotations. I think it would be nice to expose them in future releases besides the Mahalanobis distance obtained after stretching the axes.

[2020-11-10 13:18] JuliaTagBot opened #139 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

[2020-11-10 13:18] #139 closed

[2020-11-24 22:35] juliohm commented on #131
I am reconsidering this issue. I think the code is less general with such assertions, and also harder to read. We can reopen it in case more users get confused with data and domain types.

[2020-11-24 22:35] #131 closed

[2020-11-24 22:36] juliohm commented on #122
@exepulveda anything I can do to help you with finishing up this notebook?

[2020-11-24 22:39] juliohm commented on #96
Currently we can already express anisotropic models with the `aniso2distance` function. We can discuss a general rotation API in a future separate issue.

[2020-11-24 22:39] #96 closed

[2020-11-24 22:42] juliohm commented on #125
I am closing this issue for now because it contains a lot of information that is unrelated to the Turning Bands solver. We can open a separate issue when someone is actually free to implement this.

[2020-11-24 22:42] #125 closed

[2020-11-24 22:57] exepulveda commented on #122
Just wait a little bit. I have time this week to do it.

[2020-11-25 01:22] exepulveda commented on #122
I would like to plot a 2D view from a 3D array, for example, estimation[:,:,1]
Any suggestion for this?
With the plots I can submit PR today.

[2020-11-25 01:30] juliohm commented on #122
The method above didn't work? `slice` and then `georef` again?

[2020-11-25 01:54] exepulveda commented on #122
I missed the code above! it works after a few fix. Thanks.

[2020-11-29 12:24] juliohm commented on #132
Fixed on master.

[2020-11-29 12:24] #132 closed

[2020-11-29 12:25] juliohm commented on #128
@rmcaixeta we are almost there regarding this issue. I've refactored all cross-validatory methods and the code is much cleaner now. The next step consists of generalizing to estimation problems.

[2020-12-07 08:12] Mattriks opened #140 "Metric trees and spheres"
In [these lines](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/147ba93fe8b571faa0ee74c4c22ec9e335cf699e/src/neighborsearch/neighborhood.jl#L20-L21), a `BallNeighborhood` is passed to `KDTree`. KDTrees can only be used with "Minkowski" metrics, which won't work for a sphere. So a minimum change here might be as follows.  I use `Haversine` here just an example. Or is there another way in `GeoSt

[2020-12-07 10:10] juliohm commented on #140
Hi @Mattriks thank you for opening the issue. We have a method for the general case [here](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/147ba93fe8b571faa0ee74c4c22ec9e335cf699e/src/neighborsearch/neighborhood.jl#L29-L49) and a method for the special Minkowski case [here](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/147ba93fe8b571faa0ee74c4c22ec9e335cf699e/src/neighborsearch/neighborhoo

[2020-12-07 10:18] juliohm commented on #140
Regarding the spherical coordinates issue, I am actively working on a new package that will be added as a dependency of GeoStats.jl soon in order to generalize the domain definitions to manifolds embedded in R^n (e.g. sphere, geoid): https://github.com/JuliaGeometry/Meshes.jl It is still work in progress, but I hope to start the transition next month after new years eve.

[2020-12-07 11:47] Mattriks commented on #140
I'm happy to submit a PR (not sure how soon). `NeighborhoodSearch` with your MinkowskiMetric condition seems suitable to me.  I'll definitely have a look at Meshes.jl!

[2020-12-07 19:20] juliohm commented on #140
Since we are loading NearestNeighbors.jl in GeoStatsBase.jl you can also access `NearestNeighbors.MinkowskiMetric` instead of redefining the union type yourself. Thanks for considering contributing to the project.

[2020-12-09 17:25] juliohm commented on #128
Fixed on master 👍🏽

[2020-12-09 17:25] #128 closed

[2020-12-13 12:06] #140 closed

[2020-12-13 12:07] juliohm commented on #77
@all-contributors please add @Mattriks for code

[2020-12-15 19:00] rmcaixeta opened #144 "Add EllipsoidalNeighborhood"
After #140, now I think it's possible to do an ellipsoidal search using `KBallSearch` or `KNearestSearch` together with an `aniso2distance` metric

The proposal here is to create an `EllipsoidalNeighborhood` search with more constraints, similar to the ones used in mining softwares. The neighbors are initially restricted to the given ellipsoid. And the valid neighbors are selected considering some

[2020-12-15 20:38] juliohm commented on #144
That would be amazing. A `EllipseNeighborhood` could use the `aniso2distance` helper function in the constructor to save the appropriate `Mahalanobis` distance as a field of the struct, and then a new search method with additional constraints could filter the results as you mentioned. 💯

Feel free to assign yourself to the issue if you would like to work on it. :)

[2020-12-16 11:43] juliohm commented on #144
I think we don't even need a `EllipseNeighborhood`, we can simply use a `BallNeighborhood` with the `Mahalanobis` produced by `aniso2distance` 👍🏽

[2020-12-16 11:46] juliohm commented on #144
So maybe, we just need to adapt the existing `NeighbordhooSearch` method to post-process the encountered neighbors.

[2020-12-16 12:13] rmcaixeta commented on #144
You mean just extending the `BallNeighborhood` with `maxperkey` and `maxperoct`?
An do the neighbours post-processing inside `search` function?

[2020-12-16 12:15] juliohm commented on #144
Maybe the search method should include the options `maxperkey` and `maxperoct`. So the `BallNeighborhood` stays untouched and is just used internally in the search method with post-processing steps. Makes sense?

[2020-12-16 12:17] juliohm commented on #144
I think we can concentrate on the options `maxperkey` and `maxperoct` in some existing search method if that is possible, and then later consider writing some helper function to construct the appropriate `BallNeighborhood` from `aniso2distance`.

[2020-12-16 12:18] rmcaixeta commented on #144
Ok, I'll try that. I have something already written here, just need to adapt and test

[2020-12-16 12:20] juliohm commented on #144
In terms of design, we could even consider first creating a separate `Ellipse` geometry to hold the semiaxes and rotations as a standalone object, and then refactor `aniso2distance` to take this `Ellipse` and convert to a distance. But we can handle this refactoring in a separate PR.

[2020-12-16 12:24] juliohm commented on #144
At some point, we could have:

1. `Ellipse` geometry given `semiaxes` and `rotation` specs.
2. `distance(::Ellipse)` that returns the corresponding `Mahalanobis`
3. `maxperkey` and `maxperoct` keyword options in some existing search method
4. `EllipseNeighborhood` constructor that returns a `BallNeighborhood` with correct metric

We can try to address these issues step-by-step after your PR is mer

[2020-12-16 12:29] juliohm commented on #144
Updated the comment to reflect some reconsiderations.

[2020-12-16 12:32] rmcaixeta commented on #144
Ok. I liked the previous idea too
By including `maxperkey` and `maxperoct` you are thinking something similar to that?

[code]

How to avoid ambiguities and method conflicts with `search(xₒ::AbstractVector, method::NeighborhoodSearch{O,N,T}; mask=nothing) where {O,N<:BallNeighborhood,T}` in that case?

[2020-12-16 12:34] juliohm commented on #144
No, I am thinking that the method specification should include these options:

[code]

The `search` methods stay untouched to be consistent with other search methods.

[2020-12-16 12:36] juliohm commented on #144
Maybe start with a PR that just adds the `EllipseNeighborhood` to fix this issue here, and then we can open another issue and PR to figure out where these search options should go, if on an existing method or a new search method.

[2020-12-17 18:59] juliohm commented on #77
@all-contributors please add @cormullion for doc

[2020-12-17 19:05] cormullion commented on #77
Thanks!

[2021-01-06 14:05] mauro3 opened #147 "`convert` to array"
Should there be a convert to array function?
[code]

[2021-01-06 14:23] juliohm commented on #147
Thank you @mauro3 for raising the issue. I am still not sure if we should provide an API to convert spatial data on regular grids to Julia arrays. I am trying to delay this core design decision until we have the new spatial domain infrastructure in place.

Meanwhile, you can currently do:

[code]

to recover the data array with correct shape. The `domain(D)` returns the underlying regular grid, wh

[2021-01-06 14:42] mauro3 commented on #147
Thanks for the speedy reply.

I don't think a stacked, 3d array would be useful.  I think requiring the field as an argument would be best (maybe defaulting to the first).  Something like:
[code]

[2021-01-06 14:45] juliohm commented on #147
What about a `toarray(D, :Z)` utility function? Many users have asked this question before so I think it makes sense to provide something while the other changes are not available yet. Mind working on a PR? :)

[2021-01-06 14:55] mauro3 commented on #147
Can do.  But that would go into GeoStatsBase, right?

[2021-01-06 15:13] juliohm commented on #147
Yes, that would go in GeoStatsBase.jl 👍🏽

[2021-01-13 23:02] exepulveda opened #151 "Improve GslibIO.jl to incorporate the GSLIB format for point set"
Currently GslibIO.jl can only read GSLIB file for regular grids, but not for a generic GSLIB file. Also, the current implementation of load_legacy function does not properly manage the case when the second line in any GSLIB file contains the number of variables and annotated grid specification.

A plan of action would be:

- [ ] Write a helper function, `paser_legacy`, that parses a generic GSLIB

[2021-01-13 23:10] juliohm commented on #151
Thank you @exepulveda for writing up the plan, it helps a lot. Consider modifying the existing `load_legacy` with a minimum set of changes to parse and load at the same time the file contents, unless you are also planning to do something with the raw parsed version. The current `load_legacy` already does the parsing for regular grids, so perhaps a minimum amount of change to that function would be

[2021-01-13 23:20] exepulveda commented on #151
It is going to be hard to keep existing `load_legacy` with minimum set of changes if we want to avoid code duplication. The proposed `parser_legacy` would used some code from `load_legacy`. Later, the two flavors of `load_legacy` (grid and point set) should use the new `parser_legacy`.

[2021-01-13 23:22] juliohm commented on #151
Sounds good. Looking forward to reviewing a first version.

On Wed, Jan 13, 2021, 20:21 exepulveda <notifications@github.com> wrote:

[2021-01-17 22:30] #147 closed

[2021-01-17 22:31] juliohm commented on #77
@all-contributors please add @mauro3 for code

[2021-01-21 18:52] juliohm opened #153 "Expose Histogram options in EmpiricalHistogram"
Currently the `EmpiricalHistogram` fits a normal `Histogram` using declustering weights. However, we need to expose other options of the `Histogram` to the end user such as the number of bins.

[2021-02-02 00:30] exepulveda commented on #40
This issue is very important to address if we want to make this project usable in mining. Block kriging is one of the geostatistical methods most used in mining. Not having this option forces user to use alternative software.

[2021-02-02 10:42] juliohm commented on #40
Fully agree. By the end of the month we will have a new release of the project with mesh support, and then we will be able to start working on block Kriging and other more advanced approaches.

[2021-02-02 14:29] juliohm opened #154 "Replace VisualRegressionTests.jl by ReferenceTests.jl"
The entire codebase is tested visually with VisualRegressionTests.jl but this package is outdated and has major dependencies such as Gtk.jl, which are problematic to install in all platforms. We need to go over all repositories and replace VisualRegressionTests.jl by ReferenceTests.jl in all test suites.

List of packages to update:

- [x] GeoStatsBase.jl
- [x] Variography.jl
- [x] KrigingEstimato

[2021-02-03 23:16] juliohm commented on #153
@exepulveda would you like to try work on this one? It is a good exercise to improve Julia skills. Basically we need to forward the keyword arguments from the `fit(Histogram, args...; kwargs...)` to the `EmpiricalHistogram(sdata, v, s; kwargs...)`.

[2021-02-03 23:17] juliohm commented on #151
Fixed in master! 🎉 Thanks for the contribution! The new release of GslibIO.jl should be coming out soon.

[2021-02-03 23:17] #151 closed

[2021-02-03 23:20] juliohm commented on #122
@exepulveda now that we have GslibIO.jl ready to consume legacy GSLIB files, I think we can continue working on this tutorial?

[2021-02-04 02:05] exepulveda commented on #122
That is the original idea. I need to find some time next week to do it.

[2021-02-04 10:19] juliohm opened #155 "Add new resource for potential contributors in the documentation"
This post by Invenia is really welcome: https://invenia.github.io/blog/2021/01/29/contribute-open-source

Most people in Geosciences lack the necessary knowledge to contribute to open source software on GitHub, and the more we help the community in this process, the better. We need to update the developer guide and the contributing file to include this link.

[2021-02-06 11:08] cyborg1995 commented on #153
@juliohm Hi! I would like to take this up!
Could you give please elaborate on the description and mention the prerequisites?
I'm new to GeoStats.jl but have experience with Julia.
Thanks!

[2021-02-06 11:24] juliohm commented on #153
That is lovely @cyborg1995 ! I am more than happy to help you in the process.

In this issue we just want to forward all the keyword arguments of `fit(Histogram, ...)` to the GeoStats.jl `EmpiricalHistogram` function. Do you know how to do that already? In the affirmative case, you can `] dev GeoStatsBase` and submit the PR there.

If you are not familiar with the GitHub PR workflow, check this aw

[2021-02-06 11:49] cyborg1995 commented on #153
Thanks for getting back!
I'm familiar with the GH workflow and I'll start working on this!

[2021-02-06 11:58] juliohm commented on #124
Update on this:

- `CopyMapper` has been refactored and it is probably not needed anymore in the user side.
- `RegularGrid` will now live in Meshes.jl under the name `CartesianGrid` like all other domain types.

In Julia v1.6-beta1 this compilation time is much improved due to the new parallel features of the package manager. I think it is taking a couple of seconds now to build the entire stack.

[2021-02-09 00:51] juliohm commented on #153
Thanks again for the contribution @cyborg1995 ! The issue is now fixed in the master branch.

cc: @fnaghetini

[2021-02-09 00:51] #153 closed

[2021-02-09 00:55] juliohm commented on #77
@all-contributors please add @cyborg1995 for code

[2021-02-09 00:59] juliohm opened #157 "Create a struct for EmpiricalHistogram"
Currently `EmpiricalHistogram` is just a normal function. We need to create a struct like

[code]

and then provide outer constructors which are the functions already implemented. After that, we will be able to create a plot recipe for this new struct that should contain the contents of the `distplot1d` recipe.

A pull request would need to:

1. Create a new file `histograms.jl` with the struct an

[2021-02-09 03:27] cyborg1995 commented on #157
@juliohm yes, I would love to take this up!

[2021-02-10 12:48] juliohm commented on #144
Thanks @rmcaixeta for this great contribution. Closing it as it is now fixed on master 💯

[2021-02-10 12:48] #144 closed

[2021-02-10 15:32] juliohm opened #158 "Add meta search with sectors and category constraints"
Opening this issue to keep track of previous discussions in https://github.com/JuliaEarth/GeoStatsBase.jl/pull/70

@rmcaixeta perhaps you could copy/paste those illustrations here and explain briefly what exactly you are planning to implement when you find time.

[2021-02-10 20:32] juliohm opened #159 "Migrate StratiGraphics.jl example notebook to GeoStatsTutorials"
This is a simple issue for anyone interested in contributing to the project for the first time.

We need to convert this old Jupyter notebook of the StratiGraphics.jl solver to a Pluto notebook in our GeoStatsTutorials repository: https://nbviewer.jupyter.org/github/JuliaEarth/StratiGraphics.jl/blob/master/docs/Usage.ipynb

The notebook needs to be updated to replace the old solver name `SpecGauss

[2021-02-11 19:35] rmcaixeta commented on #158
OK. The goal is to implement two extra constraints in `BoundedSearch` function:
- Max neighbors per sector (e.g. max per octants)
- Max neighbors per category (e.g. max per drill hole)

![example](https://user-images.githubusercontent.com/8386288/107688512-7c31fb80-6c86-11eb-9ebd-fb6260af4870.png)

Both are common in mining softwares. They are used to avoid a clustered selection of neighbors and r

[2021-02-11 19:43] juliohm commented on #158
Awesome, I think we can rename `BoundedSearch` to `FilteredSearch` to reflect the more advanced options 👌🏽

[2021-02-14 01:35] #157 closed

[2021-02-14 01:37] juliohm commented on #157
Thank you for another great contribution 💯

[2021-02-14 01:38] juliohm commented on #159
@cyborg1995 this one is a nice one if you have experience in Pluto. Would you like to give it a try?

[2021-02-14 01:42] cyborg1995 commented on #159
I have only a little experience in Pluto.
Yes, I would love to give this a try! Would also get more experience with Pluto!

[2021-02-14 01:46] juliohm commented on #159
Amazing. To accomplish this one:

1. Activate the folder `] activate GeoStatsTutorials/notebooks`
2. Add StratiGraphics to the dependencies `] add StratiGraphics`
3. Copy the format (e.g. header) of any other existing notebook in that folder
4. Migrate the content of the Jupyter notebook linked above to Pluto

Looking forward to help you in the process.

[2021-02-14 13:47] juliohm opened #160 "Add neighbors option to BlockPartition"
The current implementation always computes the neighboring blocks, but we should add an option that disables this expensive calculation in large 3D block models. Additionally, the existing implementation of neighboring blocks can be improved for greater performance.

[2021-02-17 11:05] hameye opened #161 "Experimental Variogram parametrization"
Just saw this issue for block kriging and the aim to be usable in mining : https://github.com/JuliaEarth/GeoStats.jl/issues/40
Are you also considering to add new features or parameters customization in experimental variography such as:
- lag tolerance
- dealing with geologist angle (azimuth/dip/pitch)
- angular tolerance

Thanks,

Hadrien

[2021-02-17 12:01] juliohm commented on #161
@hameye it depends on what parameters exactly you are referring to. The terminology changes from software to software, and the  current parametrization works fine in most applications we tried. Different parametrizations are possible if there is a good reason.

Check our paper Efficient Variography with Partition Variograms to understand our motivations. Most parametrizations in commercial softwar

[2021-02-17 12:04] juliohm commented on #161
Regarding the angles, we just need a function that converts from Cartesian to spherical coordinates for example. We currently have such function as `spheredir` but the mining industry doesn't follow the ISO standard for the angles so you may probably need to add a different convention as a separate function. We have a colleage at Datamine that did just that.

I will close the issue given that it i

[2021-02-17 12:04] #161 closed

[2021-02-19 02:45] juliohm commented on #154
Fixed.

[2021-02-19 02:45] #154 closed

[2021-02-19 17:12] #159 closed

[2021-02-25 05:12] atreyamaj opened #162 "Broken Documentation Link for 'Partitioning'"
The following link appears to be broken as it is giving a 404 error:

https://juliaearth.github.io/GeoStats.jl/latest/operations/partitioning/

[2021-02-25 05:21] atreyamaj commented on #155
Hey!
While I was trying to update the guide (with the aforementioned link) and was looking for the .md file, I got a 404 error:

https://github.com/JuliaEarth/GeoStats.jl/blob/master/docs/src/developers.md

[2021-02-25 06:20] atreyamaj commented on #155
Hey @juliohm !

I have submitted a PR for this issue. Please check it out!

https://github.com/JuliaEarth/GeoStats.jl/pull/163

[2021-02-25 11:24] juliohm commented on #162
Where is this link? Also, can you submit a PR directly to fix the issue?

[2021-02-25 12:36] #155 closed

[2021-02-25 12:37] juliohm commented on #77
@all-contributors please add @atreyamaj for doc

[2021-02-25 13:00] atreyamaj commented on #162
It came up on Google when I searched for "Geostats julia partitioning", although it seems like it does not exist in this repository. Please close the issue if it is unnecessary.

[2021-02-25 13:02] juliohm commented on #162
Yes, please don't use Google for this.

[2021-02-25 13:02] #162 closed

[2021-03-01 01:09] juliohm opened #166 "Move Kriging solver to GeoEstimation.jl"
Currently the solver lives in KrigingEstimators.jl but we could move it to GeoEstimation.jl to keep all built-in estimation solvers in a single place.

[2021-03-01 01:11] juliohm opened #167 "Rename variables(solver) to targets(solver)"
Now that the `variables` trait is in Meshes.jl we would like to choose a different name for the target variables of a solver. This will avoid unnecessary complexities in the @metasolver macro.

[2021-03-01 03:03] juliohm commented on #167
Fixed on master.

[2021-03-01 03:03] #167 closed

[2021-03-01 03:06] juliohm commented on #40
We now have full support to general meshes. Closing the issue, and we can open a new one for block Kriging specifically.

[2021-03-01 03:06] #40 closed

[2021-03-02 11:41] Mattriks opened #168 "Build issue in Julia 1.6.0-rc1"
I couldn't get GeoStatsBase v0.18+  to work on Julia 1.6.0-rc1.   The issue is the dependence on SplitApplyCombine.jl, which has a dependence on Indexing.jl. In a fresh env:

[code]

Indexing.jl is an old package without a Project.toml, so instantiate doesn't help.

[2021-03-02 11:49] juliohm commented on #168
Thank you for reporting the issue @Mattriks . I am about to release GeoStats.jl v0.22 which contains updates for the latest version of the language. I am using Julia v0.6-rc1 myself.

I am just waiting the documentation build to finish before triggering the registration bot.

[2021-03-02 11:58] juliohm commented on #168
The PR should be merged soon in the General registry: https://github.com/JuliaRegistries/General/pull/31127

After that you can try to update the environment to get the latest release of all modules, including GeoStatsBase.jl.

Regarding the issue you had with `SplitApplyCombine.jl` I think it is better to report it there instead. It is unrelated to our efforts.

I will close the issue for now, bu

[2021-03-02 11:58] #168 closed

[2021-03-02 12:26] Mattriks commented on #168
@juliohm - thanks.  Sorry I didn't mention above that SplitApplyCombine is a dependence of TypedTables (added in JuliaEarth/GeoStatsBase.jl#78). I'll have another go at getting it work.

[2021-03-02 12:31] juliohm commented on #168
I see. We replaced the heavy DataFrames.jl by TypedTables.jl as our default
table type. It is unfortunate to learn that it has problematic
dependencies. Let me know if you still have problems. It should probably be
reported there too.

On Tue, Mar 2, 2021, 09:26 Mattriks <notifications@github.com> wrote:

[2021-03-02 12:48] Mattriks commented on #168
I have the same issue with GeoStatsBase.jl#master, in a fresh env.  I'm currently on a windows pc.

[2021-03-02 13:06] juliohm commented on #168
It may be specific to Windows then. I'm on Linux and everything is working
fine on Julia v0.6-rc1.

On Tue, Mar 2, 2021, 09:48 Mattriks <notifications@github.com> wrote:

[2021-03-03 15:18] atreyamaj commented on #160
Made a PR to Meshes.jl for this issue.
Please check it out:
https://github.com/JuliaGeometry/Meshes.jl/pull/60

[2021-03-04 00:10] exepulveda opened #169 "Nootebooks need to be updated to reflect changes of v0.22"
I was checking the new v0.22 and some notebooks need to be updated, for example, in the notebook EstimationProblems.jl, there are two things to change:

1. RegularGrid (replaced by CartesianGrid).
2. The way to access the estimation results and the variance.

The point 1 is easy, just replacing RegularGrid by CartesianGrid in the code, but in the text I don't know what the new words are now the be

[2021-03-04 00:28] juliohm commented on #169
Thanks. In order to update the notebooks one needs to run `] up` in the notebooks folder to version v0.22 of the project, and then go notebook by notebook fixing the issues. The syntax `solution["Z-variance"]` should already be available.

[2021-03-04 00:30] juliohm commented on #169
The solution to an estimation problem is now a simple geospatial data type so it makes sense to treat as such without special functions to access as suggested. Any geospatial data object should work with the syntax `D[:z]` or `D["z"]` whichever version is more convenient. Also, to preserve the shape `asrray` can be used instead.

[2021-03-07 18:23] juliohm commented on #166
Fixed on master.

[2021-03-07 18:23] #166 closed

[2021-03-08 01:50] Mattriks commented on #140
@juliohm I'm trying out the new GeoStatsBase/Meshes.  In the following example, what is the way now to extract the coordinates from `s`?. My use case is that the next line is a custom function where I'd like to just pass `s` and not `r1` (and in the custom function I particularly want to know what the extreme values of the coordinates are).

[code]

[2021-03-08 02:12] juliohm commented on #140
Hi @Mattriks , I think you should be able to `inds = search(Point(x), s)`. Please reach out in Gitter or Zulip if it doesn't work still. This migration to use Meshes.jl has many breaking changes, unfortunately.

[2021-03-08 02:14] Mattriks commented on #140
Hi @juliohm, no that's just the indices, I want the full coordinates of the grid, preferably just from `s`.

[2021-03-08 02:22] juliohm commented on #140
Given an index `i` you can get the coordinates of the centroid of the i-th
element of the grid with `c = centroid(grid, i)`. This will be a Meshes.jl
`Point`. You can retrieve the coordinates as a Julia vector with
`coordinates(c)`, makes sense?

If you have some previous code that was working before the update, feel
free to share and I can try to update it.

The main difference now is that we hav

[2021-03-08 11:39] juliohm opened #170 "Implement hierarchical paths"
The SGS solver needs to be reviewed because it is currently very numerically unstable. This situation should be improved if we follow a similar regularization trick like the one that is done in GSLIB internally. In GSLIB the variogram is smoothed over the support of the grid even when the measurements are in a point set. GSLIB seems to pick an arbitrary number of subdivisions (e.g. 6) to perform t

[2021-03-08 18:17] juliohm commented on #169
Fixed in GeoStatsTutorials.

[2021-03-08 18:17] #169 closed

[2021-03-10 11:19] juliohm opened #171 "Add link to Zulip channel to documentation"
We now have two community channels Gitter and Zulip. The documentation needs to be updated to include a link to Zulip with a screenshot of the channel.

[2021-03-10 23:53] juliohm commented on #171
Fixed on master.

[2021-03-11 17:04] juliohm commented on #160
Fixed by @atreyamaj in master. Thanks!

[2021-03-11 17:20] atreyamaj commented on #160
Thank you for helping me through the process!

[2021-03-15 13:41] #160 closed

[2021-03-19 08:36] hameye opened #172 "Memory allocation for nested variograms"
Iterator in nested variograms formula (distance, sill and nugget) might allocate more memory than expected :
[code]

Might this be causing kriging to be slow compared to simple variogram model ?

[2021-03-19 18:10] juliohm commented on #172
Thanks for reporting the issue @hameye. We need to figure out what is happening with the expressions that is causing unnecessary memory allocation. We can ask on Zulip to see if people can help more quickly.

[2021-03-23 17:11] PeetoomHeida opened #173 "Add Ripley's K test for point patterns"
I am interested in contributing to this project. I was thinking of starting small by adding Ripley's K to the functions for point patterns. Does this fit in the project?

[2021-03-23 17:25] juliohm commented on #173
Contributtons are very welcome. The PointPatterns.jl submodule is the
perfect place. :)

On Tue, Mar 23, 2021, 14:12 PeetoomHeida ***@***.***> wrote:

[2021-03-28 13:10] juliohm commented on #173
@PeetoomHeida do you need some help to start with this?

[2021-03-28 14:42] PeetoomHeida commented on #173
@juliohm No not quite yet. I am somewhat new to Julia, so just muddling along and testing different ways to get the function working. :)

[2021-03-30 12:31] juliohm commented on #172
We have addressed most memory allocation issues on the latest release. There is still one missing item that would bring this allocation to zero in theory. @hameye would you be willing to submit a PR to Variography.jl with the following experiment?

Instead of:

[code]

we could try:

[code]

The call to `zip` seems to allocate memory due to the tuples created on the fly. If you can help benchmarki

[2021-03-31 13:23] hameye commented on #172
Former implementation
[code]
New implementation
[code]

[2021-03-31 13:30] #172 closed

[2021-03-31 13:32] juliohm commented on #77
@all-contributors please add @hameye for code

[2021-04-07 15:45] hameye opened #175 "Sill Computation inside of Loop in Kriging Estimator"
Sill computation is done in loop : https://github.com/JuliaEarth/KrigingEstimators.jl/blob/master/src/estimators.jl#L99
Computing it once before the loop might speed up computations ?

[2021-04-07 15:48] juliohm commented on #175
It would be nice to benchmark the change to have an idea of how much we can gain. 👍🏽

[2021-04-07 15:50] juliohm commented on #124
@evetion do you feel we still need to work on this to reduce the compilation times further? In Julia v1.6 things are much better now with Pkg parallel precompilation.

[2021-04-08 15:20] hameye commented on #175
The following benchmark measures the changes between the implementation outside the loop (with fix) and each time in the loop (without fix). The sill computation does not seem to be a bottleneck: fix is not worthy.

Without fix
[code]
WIth fix
[code]

[2021-04-08 15:20] #175 closed

[2021-04-08 18:15] hameye opened #176 "Neighborhood search not working for Ellipsoid"
[code]

[2021-04-08 18:22] juliohm commented on #176
As we discussed over Gitter, the issue can be fixed in the `KBallSearch` by repeating the same logic we implemented in the `NeighborhoodSearch` [here](https://github.com/JuliaGeometry/Meshes.jl/blob/a3598f0d0a4c65e2179f8fd5da0e551a0f4d698f/src/neighborsearch/neighborhood.jl#L30-L34). As you pointed out, the issue occurs because an `Ellipsoid` doesn't have a radius and `KBallSearch` is trying to ca

[2021-04-10 00:41] juliohm commented on #124
Closing the issue assuming it is ok.

[2021-04-10 00:41] #124 closed

[2021-04-10 14:11] juliohm opened #177 "Change default heuristic for declustering to mode"
Currently the default block size in declustereted statistics is the median pairwise distance of a couple of samples. We could change the default to the mode instead.

[2021-04-10 14:14] juliohm opened #178 "Missing geostatistical clustering methods"
It would be nice to implement methods from the literature such as:

- https://www.sciencedirect.com/science/article/abs/pii/S2211675316300367
- https://www.sciencedirect.com/science/article/pii/S0098300415001314
- https://www.sciencedirect.com/science/article/pii/S0098300411004419

[2021-04-10 14:15] juliohm opened #179 "Missing geostatistical simulation methods"
It would be nice to implement simulation methods from the MPS literature:

- https://link.springer.com/article/10.1023/A:1014009426274
- https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2008WR007621

[2021-04-12 15:35] juliohm commented on #176
Thanks for the fix!

[2021-04-12 15:35] #176 closed

[2021-04-17 17:42] juliohm commented on #114
The coerce function is already implemented for all table types, including our spatial data type. This issue is solved.

[2021-04-17 17:42] #114 closed

[2021-04-22 15:47] immaryw opened #181 "Ordering problem in print methods"
The order of variables looks messy. It may come from the [print method issue.](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/92e3ad70d5e24a0e1bed825faa9bd20baa4bde2b/src/ensembles.jl#L64)
[code]
produce

[code]
The correct order should be Z1, Z2, Z3.

[2021-04-23 00:13] juliohm commented on #181
Thank you @immaryw for reporting the issue. To fix it we need to do a few things:

1. Go in [this line](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/92e3ad70d5e24a0e1bed825faa9bd20baa4bde2b/src/solvers.jl#L66) before the loop and save the result of `covariables(problem, solver)` into a new variable
2. After the loop [here](https://github.com/JuliaEarth/GeoStatsBase.jl/blob/92e3ad70d5e24a0e1b

[2021-05-03 10:52] juliohm opened #182 "Deprecate readgeotable"
With the current design users can now do:

[code]

to get the same behavior.

[2021-05-03 10:59] juliohm opened #183 "Finalize Block-Kriging"
We have all the ingredients necessary to implement this generalization correctly.

[2021-05-06 01:23] juliohm commented on #182
Fixed on master.

[2021-05-06 01:23] #182 closed

[2021-05-14 12:22] juliohm commented on #181
Fixed in https://github.com/JuliaEarth/GeoStatsBase.jl/commit/4e12b760348cad3ff635d52dfc9d0b15231cf0cf

[2021-05-14 12:22] #181 closed

[2021-05-15 09:03] anton-degterev opened #184 "SGS simulation does not work"
After upgrading Julia to 1.6.1 and Geostats to 0.24.1, the SGS simulation fails. Returns the error "Balsearch not defined". The error is reproduced even if try to run the demo example from https://github.com/JuliaEarth/GeoSimulation.jl/blob/master/test/sgs.jl

Since the LUGS solver takes too long to work in typical practical situations, and the FFTGS solver only allows unconditional simulation, th

[2021-05-15 10:53] juliohm commented on #184
Hi @anton-degterev , can you share the status of your environment?

[code]

You probably have an old version of some of the modules in your system.

[2021-05-15 11:07] juliohm commented on #184
Alternatively, you can add GeoStats.jl in a fresh environment to double check:

[code]

I will close the issue, feel free to re-open if the problem persists.

[2021-05-15 11:14] juliohm commented on #184
I tried it locally and for some reason the Meshes.jl package is not in the latest version. Please try to `add Meshes@0.13` while we fix the issue in the dependency list.

[2021-05-15 12:43] anton-degterev commented on #184
Here is the list of installed packages:

[336ed68f] CSV v0.8.4
[324d7699] CategoricalArrays v0.9.7
[d38c429a] Contour v0.5.7
[a93c6f00] DataFrames v1.1.1
[31c24e10] Distributions v0.25.0
[dcc97b0b] GeoStats v0.24.1
[916415d5] Images v0.24.1
[682c06a0] JSON v0.21.1
[91a5bcdd] Plots v1.13.2
[c3e4b0f8] Pluto v0.14.5
[7f904dfe] PlutoUI v0.7.9
[92933f4c] ProgressMeter v1.6.2
[6f49c342] RCall v0.13.11
[

[2021-05-15 12:48] juliohm commented on #184
Yes, I identified the issue already. and am currently triggering a set of patch releases. You should have access to GeoStats.jl v0.25 soon. Just waiting the bot in the General registry.

[2021-05-15 15:22] juliohm commented on #184
The new release should be available in a couple of minutes: https://github.com/JuliaRegistries/General/pull/36799

Please let me know if the issue persists after the update. The command `] add GeoStats@0.25` should install the latest release after the PR above is merged.

[2021-05-15 17:03] anton-degterev commented on #184
I updated the package to 0.25, but the problem is still reproducing. The error message: "UndefVarError: BallSearch not defined"

[2021-05-15 17:09] juliohm commented on #184
Can you please share an example? I just tried in a clean environment and everything is working fine:

[code]

[2021-05-15 17:13] juliohm commented on #184
Please make sure you have the following versions of dependencies:

[code]

You can create a clean environment and add GeoStats.jl first. Then add the other packages you are using in your environment. That way GeoStats.jl and its dependencies will get priority in the version compat entries. You may have another package in your environment blocking indirect dependencies and causing you the trouble.

[2021-05-15 17:32] anton-degterev commented on #184
I'm using this example for a test: https://github.com/JuliaEarth/GeoSimulation.jl/blob/master/test/sgs.jl

The current state of packages and dependencies obtained during the update:

  [a93c6f00] ↑ DataFrames v0.22.7 ⇒ v1.1.1
  [31c24e10] ↑ Distributions v0.24.18 ⇒ v0.25.1
  [dcc97b0b] ↑ GeoStats v0.21.1 ⇒ v0.25.0
  [7a955b69] + CircularArrays v1.2.0
  [a93c6f00] ↑ DataFrames v0.22.7 ⇒ v1.1.1
  [8

[2021-05-15 18:30] juliohm commented on #184
I just copied/pasted the example in a fresh environment and it worked fine:

[code]

Good question. I think you can try to pin specific versions of the GeoStats.jl stack first and then when you try to add other packages an error will be thrown because of the downgrade. At that point you will have identified the conflicting package.

You can pin pin point the packages like this:

[code]

See the li

[2021-05-15 19:15] juliohm commented on #184
Just a correction, the way you pin packages is with `pin` instead of normal `add`.

[2021-05-16 01:32] juliohm commented on #184
I will close the issue as it seems to be fixed now in a fresh environment. Feel free to reach out in the Gitter or Zulip channels for more help with setting up a working environment.

[2021-05-16 01:32] #184 closed

[2021-05-16 05:48] anton-degterev commented on #184
The approach with pinning the version worked. Surprisingly, after updating the rest of the packages, no one swore, everyone accepted GeoClustering the desired version without any objections. The way the package manager handles dependencies is sometimes beyond understanding. After the restart, everything worked, so the problem is closed. Thanks!

[2021-06-01 20:09] Datseris opened #185 "Add glossary section in the documentation"
For a newcomer like myself it would be very useful to know something about what `data` and `var1` means in the variogram functions

![image](https://user-images.githubusercontent.com/19669089/120384017-e9e16080-c325-11eb-8637-717e93f608aa.png)

If the desire is to not replicate information (which I completely agree with), then the functions should refernce the part of the docs that "what data is"

[2021-06-01 20:11] juliohm commented on #185
Fully agree. You are correct that data is the result of georef. Would you mind submitting a PR with proposed improvements? :)

[2021-06-01 20:12] Datseris commented on #185
Sure thing! Tell also what `var`s should be and will include it!

[2021-06-01 20:14] juliohm commented on #185
var is a Symbol representing the variable of interest that is stored inside the data.

[2021-06-02 12:13] Datseris opened #186 "Add docstring of values(variogram) to documentation"
At the moment, looking at the doc page of Variograms, it seems like the only way to analyze Variograms is via the Plots.jl package. But I would much rather obtain the actual values that are plotted. How do I obtain:

1. Values of h axis
2. Values of γ(h)
3. Bin values b(h)

? I don't use Plots.jl and I see no mention in the documentation page on how to obtain these values. The display method of th

[2021-06-02 12:15] juliohm commented on #186
You can get the values with `x, y, n = values(γ)`. Appreciate if you can add the docstring of the values function to the documentation somewhere. Thanks for sharing the issue. Also feel free to join our community channels in either gitter or zulip for these quick questions.

[2021-06-02 13:07] juliohm commented on #185
As discussed in the other issue/pr, a more general solution to this problem will involve adding a glossary to the documentation with elaborated definitions of the terms used across all docstrings of the project. There are too many and repeating the definitions in each can lead to outdated documentation very quickly.

[2021-06-18 02:04] briochemc commented on #22
Sorry for digging this up, but I am guessing there is a solution to the interpolation question since this was closed? Could you provide a MWE of interpolation from one grid to another here? (A search for "curvilinear" in JuliaEarth only shows this issue.)

[2021-06-18 23:06] juliohm commented on #22
Hi @briochemc , we are still working on curvilinear meshes in Meshes.jl. We will get there at some point. 🙏🏽

Can you comment about your use case to see how it fits with the roadmap?

[2021-06-21 06:46] briochemc commented on #22
Well I think it's very similar to Balinus' case... Climate models (ocean models for me) have their own (sometimes curvilinear) grids and it would be good to have a robust tool/API to interpolate data between them to compare the same data from different models for example

I actually also opened [this issue with Interpolations.jl](https://github.com/JuliaMath/Interpolations.jl/issues/432) because I

[2021-06-21 11:00] juliohm commented on #22
The example helped understand what your goal is. Let me clarify what we can do currently and why I mentioned it is still not ideal.

I will assume that you have a collection of corner coordinates (LAT, LON) and that you want to interpolate values on the grid elements (quadrangles). You can create a vector of `Meshe.Point` with the lat, lon values for each vertex in the grid and save in a vector `p

[2021-06-21 12:56] briochemc commented on #22
I think there may have been a slight confusion in how I phrased my example. What I have is all the lat/lon coordinates of the grid vertices and a variable that has a value at each vertex. So three 2D arrays (`LAT`, `LON`, and `V`) like in the Interpolations issue posted. And I would like to interpolate the values `V` to any other lat/lon that is not necessarily an element of the grid. Is that poss

[2021-06-21 15:33] juliohm commented on #22
What you can do currently in this case is simply create a PointSet with the
coordinates of the vertices of the grid and then another PointSet with the
target locations. This will generate a point interpolation and you could
use the Haversine as usual to compute the distance between the points in
Kriging, IDW, LWR, etc.

We are still polishing the curvilinear grid api to facilitate the
construction

[2021-06-22 01:23] briochemc commented on #22
I'm still a bit confused about how to do that... Would you mind giving me a little bit more hand-holding? Here is a MWE with 2 `PointSet`s. How do I do the interpolation at the end?

<img width="584" alt="Screen Shot 2021-06-22 at 11 21 37 am" src="https://user-images.githubusercontent.com/4486578/122848069-2d8b2100-d34c-11eb-8bc9-51f91d191075.png">

[code]

[2021-06-22 11:48] juliohm commented on #22
Here is an estimation problem on the two point sets:

[code]
![image](https://user-images.githubusercontent.com/3345261/122919225-5ef8f200-d336-11eb-80d3-e0bfd956c972.png)

Now you can use any of the estimation solvers to solve the problem. Please let me know if something is not clear, we are working on improving the documentation to clarify this domain vs. data issue that many people get confused

[2021-06-23 01:10] briochemc commented on #22
OK I think I got it. Thank you for helping! For the record, here is a MWE:

[code]

that gives
<img width="584" alt="Screen Shot 2021-06-23 at 11 09 36 am" src="https://user-images.githubusercontent.com/4486578/123019287-8ec9f780-d413-11eb-99bc-9db117805dd7.png">

[2021-06-23 19:29] ElOceanografo opened #187 "Precompilation error with v0.25.2"
I'm getting a precompilation error when `using GeoStats` after installing v0.25.2:
[code]
I'm using Julia 1.6.0 on Windows 10 Enterprise, and my environment is the following:
[code]
It works fine if I downgrade to v0.25.1.   Maybe something to do with [changes](https://github.com/JuliaEarth/GeoStats.jl/compare/v0.25.1...v0.25.2) to the `@reexports` of related packages?

[2021-06-23 19:37] juliohm commented on #187
That is strange. Can you try to create a fresh temporary environment with
just the package installed and see if the issue is there ? I am using
v0.25.2 without problems in other environments.

On Wed, Jun 23, 2021, 16:29 Sam ***@***.***> wrote:

[2021-06-23 19:48] ElOceanografo commented on #187
Just tried it in a clean environment, the same problem occurs:
[code]

[2021-06-23 20:02] juliohm commented on #187
That is super strange. I'll try to take a look when I get home. I don't
remember any names function in the packages.

On Wed, Jun 23, 2021, 16:49 Sam ***@***.***> wrote:

[2021-06-23 21:18] juliohm commented on #187
I have just tried installing in a fresh environment and everything went well:

[code]

Perhaps this issue is OS-dependent? Here is my versioninfo()

[code]

[2021-06-24 12:15] juliohm commented on #187
@ElOceanografo can you confirm your Julia binary? By any chance you are using one of those JuliaPro binaries?

[2021-06-24 12:17] juliohm commented on #52
Hi @PaulMatlashewski , I think we have this feature now. You should be able to create domains of different parametric dimension given that they live in the same embedding dimension. Please let me know if you have questions. We are on Gitter or Zulip to discuss use cases.

[2021-06-24 12:17] #52 closed

[2021-06-24 13:49] PaulMatlashewski commented on #52
Wonderful! Thanks @juliohm.

[2021-06-25 04:46] omarbenites opened #188 "Algorithms"
Hi @juliohm

FOA, congrats on the amazing job in the development of this package!
I'm starting on the topic of geostatistics and trying to understand some of the methods (ex. empirical/theoretical variograms, Kringing, etc) and I observe you implemented quite well in Julia. For this reason, I'd like to ask you from Which reference or bibliography do you implemented all these methods and algorithms

[2021-06-25 10:49] juliohm commented on #188
Hi @omarbenites , thank you for the kind words. There are good books on geostatistics covering variography concepts. The algorithm we implemented is described in our paper [Efficient variography with partition variograms](https://www.sciencedirect.com/science/article/pii/S0098300419302936). I would start there and then follow the references.

Also, feel free to join our community channels for futu

[2021-06-25 10:49] #188 closed

[2021-06-25 10:50] juliohm commented on #187
Closing as invalid. Let me know if the problem persists. Notice that the GitHub bot tests against all platforms and the Windows build is successful.

[2021-06-25 10:50] #187 closed

[2021-07-12 19:44] juliohm commented on #186
Fixed on master.

[2021-07-12 19:44] #186 closed

[2021-07-12 19:55] juliohm opened #189 "Consider a monorepo setting"
The project is becoming quite large with multiple sub-modules hosted at different GitHub repositories. This is not ideal given that new contributors would just like to clone a single repository with all sub-modules sync'ed. We should consider a monorepo setting at some point to facilitate contributions from less experienced programmers.

[2021-08-03 13:47] juliohm commented on #77
@all-contributors please add @felixcremer for doc

[2021-08-09 06:48] immaryw opened #192 "Error estimation by DensityRatioValidation"
Hi, there! I'm trying to understand the idea behind DensityRatioValidation. I'm curious about how it is a less biased error estimator compared with k-fold cross-validation when covariate shift happens.

![image](https://user-images.githubusercontent.com/17716760/128668852-5cbfda02-cd03-4e1f-a8f5-35ddf3d5d961.png)

As my terrible drawing :( shows, density ratio(weight) should be very small for most

[2021-08-09 10:49] juliohm commented on #192
Hi Jing Wang, the importance-weighted variants of cross-validation are derived assuming that the test distribution is within the train distribution. These cases where the overlap is very small aren't solved in the literature, they require specific knowledge from the problem at hand to overcome.

Also, notice that the GitHub issue tracker is for reporting issues or feature requests. Please use the

[2021-08-09 10:49] #192 closed

[2021-08-12 14:38] juliohm commented on #183
Fixed on master.

[2021-08-12 14:38] #183 closed

[2021-08-18 05:15] nshea3 commented on #177
Hi @juliohm! I'd like to give this issue a try. I'm putting together a PR now, but I had a few questions I hoped you could help with before I make the PR.

I'm testing my work against the [DeclusteredStatistics.jl](https://github.com/JuliaEarth/GeoStatsTutorials/blob/master/notebooks/DeclusteredStatistics.jl) notebook and I'm finding that the mode heuristic is not giving very good block sizes, res

[2021-08-18 10:21] juliohm commented on #177
Hi @nshea3 , that would be great, thank you for the help. In order to use the mode we need some binning of the interval or some form of convolution to transform the impulses of distance into something smooth where we can read the mode. If you can share some results, we can investigate it further.

[2021-08-24 17:30] juliohm commented on #177
@nshea3 do you need any help to get it started?

[2021-08-30 18:46] nshea3 commented on #177
Hi! Still working on this - trying to figure out the best way to estimate the mode.

I have a working example that finds the minimum distance between successive samples (steepest part of empirical CDF) and uses the midpoint as an estimate of the mode. I could put together a PR and discuss the changes there if that sounds like a reasonable approach.

I found many more possible approaches in these s

[2021-08-30 19:04] juliohm commented on #177
Hi Nicholas the recursive approach described in the first SO post seems
good. I'd just start with the PR and then we can align the minor technical
details.

On Mon, Aug 30, 2021, 15:47 Nicholas Shea ***@***.***> wrote:

[2021-09-10 21:59] #185 closed

[2021-09-22 21:48] mauro3 opened #193 "No `asarray` method for `Ensemble`"
The title says it all.  As a work-around I have
[code]
Which works for my case but is probably not universal.

[2021-09-22 22:00] juliohm commented on #193
What is the expected shape/result? An ensemble is a collection of geospatial data. You can do `asarray(d[1], :z)` to get the first realization in the ensemble as an array.

[2021-09-23 06:01] mauro3 commented on #193
Ah, ok, sorry for the noise.  I guess a better error message could be helpful.

[2021-09-23 06:01] #193 closed

[2021-10-24 18:52] fnaghetini opened #197 "Ellipsoid not working with Distances.jl v0.10.5"
Hi!

I've got following error when I called the `Ellipsoid` function:

[code]
It´s interesting since this example doesn't work with Distances.jl [v0.10.5](https://github.com/JuliaStats/Distances.jl/releases/tag/v0.10.5), but works fine with v0.10.4. I've checked the [diff](https://github.com/JuliaStats/Distances.jl/compare/v0.10.4...v0.10.5) between both versions and maybe this error is due to som

[2021-10-24 21:38] #197 closed, assigned to nobody

[2021-10-29 03:06] juliohm opened #199 "Preparation for new release"
A few issues to address before the next release:

- [x] Deprecate the `cornerplot` in favor of [PairPlots.jl](https://github.com/sefffal/PairPlots.jl)
- [x] Deprecate the `EmpiricalDistribution` in favor of [TableTransforms.jl](https://github.com/JuliaML/TableTransforms.jl)
- [x] Possibly include mode heuristic for declustering (cc: @nshea3)
- [x] Fix range behavior for anisotropic variogram model

[2021-11-05 22:39] #177 closed

[2021-11-05 22:40] juliohm commented on #77
@all-contributors please add @nshea3 for code

[2021-11-15 00:21] juliohm commented on #199
All issues have been addressed and we are ready for a new release.

[2021-11-15 00:21] #199 closed

[2021-11-15 00:22] juliohm commented on #111
This will be addressed in TableTransforms.jl.

[2021-11-15 00:22] #111 closed

[2021-11-16 11:57] juliohm commented on #46
Plot recipes for all geometries and geospatial domains have been ported already. These new recipes live in MeshViz.jl temporarily while Makie's recipe system is maturing: https://github.com/JuliaGeometry/MeshViz.jl There are many improvements compared to the Plots.jl recipes, specially in 3D.

Now we need to port the recipes in GeoStatsBase.jl and Variography.jl to fully address this issue. If any

[2021-11-16 13:19] juliohm opened #201 "Add utility functions for rotation conventions"
Now that we are using general rotation representations, we need utility functions to convert conventions in software such as Datamine and Leapfrog to Euler angles. These are two possible definitions:

[code]

We need a similar definition for `GslibAngles` and `VulcanAngles`. These conventions should be added to GeoStatsBase.jl with `ReferenceFrameRotations.jl` as a dependency.

[2021-11-23 17:12] juliohm commented on #77
@all-contributors please add @stevengj for infra

[2021-11-29 14:56] StefanPofahl opened #203 "How to run GeoStats.jl-example"
Hi,
how do I run your example, published in your project information:

The error-essage that I receive is:
`LoadError: AssertionError: invalid coordinates for table
in expression starting at C:\data\julia\scripts\GeoData\Test_GeoData.jl:12`

The content of "data.csv" is:
`   x,    y,       station,        precip`
`25.0, 25.0,     palo alto,           1.0`
`50.0, 75.0,  redwood city,           0.0`

[2021-11-29 15:27] juliohm commented on #203
Can you please share the script you tried?

On Mon, Nov 29, 2021, 11:57 Stefan Pofahl ***@***.***> wrote:

[2021-11-29 17:23] StefanPofahl commented on #203
Thank you for the question! :-)

https://github.com/JuliaEarth/GeoStats.jl
Below is a quick preview of the high-level API:
`using GeoStats`
`using Plots`
`[...]`
`# plot the solution`
`contourf(sol)`

Regards,

Stefan

[2021-11-29 17:36] juliohm commented on #203
Oh it is an issue with the copy/paste in GitHub. The CSV table in the README should contain TAB characters. When I copied/pasted the example GitHub replaced TAB with white spaces:

[code]

I will fix the example, thanks for reporting it.

Meanwhile, you can use the example in the docs, which is the same data but constructed directly inside Julia isntead of in a CSV file: https://juliaearth.github.

[2021-11-29 17:39] juliohm commented on #203
Fixed on master.

[2021-11-29 17:39] #203 closed

[2021-11-29 18:08] StefanPofahl commented on #203
What I tried to figure out, what is needed, what is wrong was the following script:
`using CSV, DataFrames`
`ExampleOutputDF = DataFrame(rand(10,10), :auto)`
`CSV.write("ExampleOutputFile.csv", ExampleOutputDF)`
But this was not enough.
Meanwhile I figured out, that a textfile without blanks,
works fine as well.
Thank you very much for the fast response & help :-)

[2021-11-29 21:09] juliohm commented on #77
@all-contributors please add @mrr00b00t for code

[2021-11-29 21:23] juliohm commented on #203
I removed the example from the README to favor the examples in the docs. The README tends to get outdated with time.

[2021-12-09 17:01] juliohm commented on #77
@all-contributors please add marlonsmathias for code

[2021-12-13 23:12] juliohm commented on #201
Fixed on master.

[2021-12-13 23:12] #201 closed

[2022-01-13 13:14] Lanjal opened #206 "DirectionalVariogram issue"
Hi Julio, I'mTrying to run the following but the variogram is returning an error related to BallSearch. the code is displayed below.

_using LibPQ, DataFrames, DrillHoles, GeoStats, CSV, Statistics, Plots, Random
conn=LibPQ.Connection("host=pg.amazeone.com.br dbname=geofoss user= droid password=devcor")
collar=DataFrame(execute(conn, "select c.holeid as \"HOLEID\", c.x as \"X\", c.y as \"Y\",c.z a

[2022-01-13 13:21] juliohm commented on #206
Hi André, probably an issue with the versions of the packages. Can you please confirm the environment you are using? Try to update to GeoStats v0.29.1 if possible. We've been introducing a great number of breaking changes to be able to generalize some methods.

[2022-01-13 14:01] Lanjal commented on #206
I'm updating here, it was 0.24.1
I'll let you know if it  worked after updating
Cheers

[2022-01-13 14:04] juliohm commented on #206
It is probably a conflict with the old DrillHoles.jl version. As I mentioned in another issue, the version of DrillHoles.jl that I've been using is the one in the #cleanup branch. I am trying to find the time to finish the PR and update the DrillHoles.jl package accordingly.

I will close the issue for now.

[2022-01-13 14:04] #206 closed

[2022-01-13 14:13] Lanjal commented on #206
Worked.  Thanks Julio

[2022-02-22 11:56] juliohm commented on #45
Fixed on the master branch of related submodules for interpolation variables. Units of coordinates need to be investigated more deeply still.

[2022-02-22 11:56] #45 closed

[2022-07-06 13:48] juliohm commented on #77
@all-contributors please add @ClaroHenrique for code

[2022-07-11 19:58] juliohm commented on #77
@all-contributors please add @decarvalhojunior-fh for code

[2022-07-30 22:38] yakir12 commented on #62
Hi Júlio!
I'm also interested in inter/extra-polating ungridded 3D data on a surface of a sphere. Did you ever get a chance to

...?

I managed to get very far (thanks to your tutorials and docs), but there are a few artefacts in the results, and I'm not certain why.

Here's my code:
[code]
So far so good, I hope?
But when I plot it, I see two main artefacts, both seem to be related to the fact th

[2022-07-31 08:48] yakir12 commented on #62
It might have to do with the fact that the distribution of angular distances between uniformly distributed points on a sphere is different:
![Screenshot 2022-07-31 at 10 46 05](https://user-images.githubusercontent.com/3281957/182018323-b2ad6f67-6f47-4a01-8895-03357e945441.png)

[2022-07-31 13:29] yakir12 commented on #62
I posted [a very detailed explanation of this process on Discourse](https://discourse.julialang.org/t/kriging-on-surface-of-sphere/85058?u=yakir12). I'm more than willing to turn that into a tutorial and PR it to https://github.com/JuliaEarth/GeoStatsTutorials

[2022-08-25 12:01] juliohm commented on #46
Plot recipes from GeoStatsBase.jl are now implemented with Makie.jl in GeoStatsViz.jl.

[2022-08-25 12:45] juliohm commented on #46
Plot recipes from Variography.jl are now implemented with Makie.jl in GeoStatsViz.jl, except for `EmpiricalVarioplane`.

Waiting for polar plot support in Makie.jl: https://github.com/JuliaPlots/Makie.jl/pull/2014

[2022-08-28 12:52] juliohm commented on #189
The built-in solvers in GeoEstimation.jl, GeoSimulation.jl and GeoLearning.jl are now merged into GeoStatsSolvers.jl to reduce the friction of contributions and to enable the reuse of solvers inside one another.

[2022-08-28 22:09] juliohm commented on #173
@PeetoomHeida any plans to work on this issue in the following months? Otherwise I will close it and let people reopen similar issues when they have time to submit PRs.

[2022-09-04 22:39] PeetoomHeida commented on #173
Hey. Other things have come up and I don't have a lot of time to work on
it. Best to close it for now, if i make progress I will reopen and submit a
PR.

Cheers,
Isaac

On Sun, Aug 28, 2022 at 3:09 PM Júlio Hoffimann ***@***.***>
wrote:

[2022-09-05 19:02] juliohm commented on #173
Thank you @PeetoomHeida for the heads up. Closing it for now.

[2022-09-05 19:02] #173 closed

[2022-09-12 22:23] juliohm opened #229 "Replace SpecialFunctions.jl by Bessels.jl and Gamma.jl"
The SpecialFunctions.jl package relies on external libraries. The Bessels.jl (and future Gamma.jl) package is written in pure Julia, is faster, differentiable, etc. We should use it instead.

[2022-09-14 20:35] juliohm commented on #229
Fixed in all submodules.

[2022-09-14 20:35] #229 closed

[2022-09-28 11:02] juliohm opened #231 "Remove FileIO.jl dependency from GslibIO.jl"
FileIO.jl is useful but not very widespread. End-users will probably find it easier if the functions to load/write files in GslibIO.jl are isolated from the FileIO.jl machinery.

[2022-09-28 14:48] juliohm commented on #231
Fixed on the master branch of GslibIO.jl

[2022-09-28 14:48] #231 closed

[2022-10-04 12:04] juliohm commented on #170
I've nailed down the source of the issue to the simulation path. I've corrected some old code and now the simulations are more stable. To maximize numerical stability we need to implement hierarchical paths. In case anyone has time available to contribute new path types, this is a good reference:

https://sci-hub.se/https://link.springer.com/article/10.1007/s11004-017-9699-5

[2022-10-11 08:32] juliohm commented on #62
Hi Yakir, I'm typing from my cell phone...

Take a look at the SPDEGS solver which generates simulations over manifolds:

https://www.linkedin.com/posts/j%C3%BAlio-hoffimann-834936116_geostatistics-geostats-geospatial-activity-6909824670523404289-1qRQ?utm_source=linkedin_share&utm_medium=android_app

I will try to reserve some time over the week to explain how you can use
similar idea to interpola

[2022-11-19 06:49] stevetyson opened #232 "Compositional kriging"
Is anyone working on, or thinking about working on, compositional kriging in GeoStats? ... or maybe its already hiding in there and I haven't found it yet :)

[2022-11-19 11:04] juliohm commented on #232
It is already implemented. You need to store your compositional data with CoDa.jl and everything should work. We took a more general approach with Hilbert spaces so you can use custom spaces besides Aitchison's space:

https://youtu.be/aQSlPDzqGPY

You can also watch a seminar I gave this year where this feature was useful:

https://youtu.be/uV-byTe4XtU

If you have additional questions, feel free

[2022-11-19 11:04] #232 closed

[2022-11-19 11:22] stevetyson commented on #232
Wow! Thanks for the super-quick response. I will try it as soon as I can

On Sat, 19 Nov 2022 at 19:04, Júlio Hoffimann ***@***.***>
wrote:

[2022-11-23 19:30] juliohm commented on #77
@all-contributors please add @DianaPat for code